<article class="module width_full">
	<header><h3 class="tabs_involved">Game Report for <span style="font-style: italic"><%=@game_type.name%></span></h3>
		<ul class="tabs">
   			<li><a href="#tab1">Statistics</a></li>
    		<li><a href="#tab2">Popular Categories</a></li>
    		<li><a href="#tab3">Popular Tags</a></li>
		</ul>
	</header>
	
	<div class="tab_container">
		
		<div id="tab1" class="tab_content">
			
			<table class="tablesorter" cellspacing="0"> 
				<thead> 
					<tr> 
						<th></th> 
						<th></th>
						<th>&nbsp;</th> 
						<th></th> 
						
					</tr> 
				</thead> 
				<tbody> 
					<tr><td></td><td>Amount of time the game was played</td><td>1</td></tr>
					<tr><td></td><td>Amount of time the game was finished</td><td>1</td></tr>
					<tr><td></td><td>Precentage of games finished over played</td><td>1</td></tr>
					<tr><td></td><td>Average time to finish a game</td><td>1</td></tr>
					<tr><td></td><td>Average number of Portfolio items shown in a game</td><td>1</td></tr>
					<tr><td></td><td>Average <span style="font-weight: bold">'likes'</span> per game</td><td>1</td></tr>
					<tr><td></td><td>Average <span style="font-weight: bold">'pass'</span> per game</td><td>1</td></tr>
					<tr><td></td><td>Amount of games finished with over 20 portfolio items shown</td><td>1</td></tr>
					  
				</tbody> 
			</table>
		</div>
		<div id="tab2" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
				<thead> 
					<tr> 
						<th>Category Name</th> 
						<th>Number of occurances</th> 
						
					</tr> 
				</thead> 
				<tbody> 
					<tr><td>##name##</td><td>##occurances##</td></tr>
					  
				</tbody> 
			</table>
		</div>
		<div id="tab3" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
				<thead> 
					<tr> 
						<th>Tag</th> 
						<th>Number of occurances</th> 
						
					</tr> 
				</thead> 
				<tbody> 
					<tr><td>##name##</td><td>##occurances##</td></tr>
					  
				</tbody> 
			</table>
		</div>
	</div>
	
	
	<footer>
		
	</footer>
		
	
</article>

