<!-- <!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<title>Dezquare</title> -->
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link href="/newver/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" src="/newver/js/jquery-1.9.0.min.js"></script> 
	<script type="text/javascript" src="/newver/js/global.js"></script> -->
<!-- </head>
<body>
	<section id="page"> -->
		<!-- <header id="header" class="clearfix">
			<h1 id="logo">
				<a href="index.html">
					<img src="/newver/img/logo.png" alt="Dezquare" width="172" height="42" />
				</a>
			</h1>
			<div class="square"></div>
			<div class="links">
				<a href="login.html">Log in</a>
				<span class="separator">|</span>
				<a href="#">Designer?</a>
			</div>
		</header> -->
		<!-- <section id="content"> -->
			<section id="content-inside">
				
				<section id="loading-designers">
					<div class="gray">
						<img src="/newver/img/loading-designers.png" alt="Loading..." />
					</div>
					<div class="orange" style="width: 5%;">
						<img src="/newver/img/loading-designers-orange.png" alt="Loading..." />
					</div>
				</section>
				
				<section id="persona-steps" class="for-step-1">
					<div class="step active">
						<div class="icon">1</div>
						<div class="text">Select product</div>
					</div>
					<div class="step step2">
						<div class="icon">2</div>
						<div class="text">select designs</div>
					</div>
					<div class="step step3">
						<div class="icon">3</div>
						<div class="text">Get matched</div>
					</div>
				</section>
				
				<!-- <section id="taste-selector" class="clearfix" style="margin-top:-40px;"> -->
				<section id="taste-selector" class="clearfix">
					<div class="title-2r centered">
						<div class="r1">Select the type of product</div>
						<div class="r2 color">your designer will need to design for you</div>
					</div>
				<form action="/game/next" method="post" id="sel-prod">
				<input type="hidden" name="category_id"  />
					<article>
						<!-- <a href=" /newver/persona2.html"> -->
							<span class="image">
								<img src="/newver/img/cat/ux_soon.jpg" alt="UI/UX design" style="opacity: 0.4;"/>
								<!-- <span class="hover">
									<span class="including">Including:</span>
									<span class="included">* UI / UX design</span>
								</span> -->
							</span>
							<span class="title r2 soon">UI/UX<br/>design</span>
							<span class="ribbon"></span>
						<!-- </a> -->
					</article>
					
					<article>
						<!-- <a href="/newver/persona2.html"> -->
						<a href="javascript:void(0)"  
							onclick="$('input[name=category_id]').val(17);$('form#sel-prod').submit();">
							<span class="image">
								<img src="/newver/img/cat/web.jpg" alt="Web design" />
								<!-- <span class="hover">
									 <span class="including">WEB<BR>DESIGN</span>
									<span class="included">* Icon Design</span>
									<span class="included">* Illustration</span>
									<span class="included">* Typography</span>
								</span> -->
							</span>
							<span class="title r2">Web<br/>design</span>
						</a>
					</article>
					
					<article class="last">
						<!-- <a href="/newver/persona2.html"> -->
						<a href="javascript:void(0)"  
							onclick="$('input[name=category_id]').val(13);$('form#sel-prod').submit();">
							<span class="image">
								<img src="/newver/img/cat/mobile.jpg" alt="mobile design" />
								 <!-- <span class="hover">
									<span class="including">Mobile<br/>app design</span>
									<span class="included">* Logo Design</span>
									<span class="included">* Business Cards</span>
									<span class="included">* Flyers</span>
									<span class="included">* Stationary</span>
								</span>  -->
							</span>
							<span class="title r2">Mobile<br/>app design</span>
						</a>
					</article>
<!-- <div >&nbsp;</div>
<div >&nbsp;</div> -->
					<article>
						<!-- <a href=" /newver/persona2.html"> -->
						<a href="javascript:void(0)"  
							onclick="$('input[name=category_id]').val(11);$('form#sel-prod').submit();">
							<span class="image">
								<img src="/newver/img/cat/logo.jpg" alt="Logo Design" />
								 <!-- <span class="hover">								 	
									<span class="including">Logo<br/>design</span>
									<span class="included">* UI / UX design</span>
								</span> -->
							</span>
							<span class="title r2">Logo<br/>design</span>
						</a>
					</article>
					
					<article>
						<!-- <a href="/newver/persona2.html"> -->
						<a href="javascript:void(0)"  
							onclick="$('input[name=category_id]').val(7);$('form#sel-prod').submit();">
							<span class="image">
								<img src="/newver/img/cat/business.jpg" alt="Business card design" />
								<!-- <span class="hover">
									<span class="including">Business<br/>Card Design</span>
									<span class="included">* Icon Design</span>
									<span class="included">* Illustration</span>
									<span class="included">* Typography</span>
								</span> -->
							</span>
							<span class="title r2">Business<br/>Card Design</span>
						</a>
					</article>
					
					<article class="last ">
						<!-- <a href="/newver/persona2.html"> -->
							<span class="image">
								<img src="/newver/img/cat/packaging-soon.jpg" alt="Packaging design" style="opacity: 0.4;"/>
								<!-- <span class="hover">
									<span class="including">Including:</span>
									<span class="included">* Logo Design</span>
									<span class="included">* Business Cards</span>
									<span class="included">* Flyers</span>
									<span class="included">* Stationary</span>
								</span> -->
							</span>
							<span class="title r2 soon">Packaging<br/>design</span>
							<span class="ribbon"></span>
						<!-- </a> -->
					</article>
				</form>	
				</section>
						
			</section>
		<!-- </section>
	</section>
</body>
</html> -->