<div class="wide-page-holder game-step" id="game-2-step-1">
	<div class="wide-page-wrap">
		<h2 class="no-margin">Let us get to know your taste</h2>
		<h2 class="no-border font-size-24">Select the designs you like</h2>
		<form id="selection_form" action="/game/next" method="post">
		<ul id="game-tastes">
			<%
			
			viewed_personas = @game.images.map{|i| i.persona}.uniq
			viewed_personas = [] if viewed_personas.length==Persona.all.size 
			images = Persona.all.map{|p| p.images.shuffle.take(20)}.flatten.reject{|i| 
				viewed_personas.include?(i.persona) || @game.images.include?(i) || [492,280,622,581].include?(i.id) || i.file_path.nil?
				}
			
			
			images.shuffle.take(12).each do |i|
				%>
				<li>
					<a href="#" onclick="$(this).children('input').val('1')">
						<img src="/repository/thumbnail/<%=i.file_path%>" width="142" height="154"/>
						<input type="hidden" name="images[<%=i.id%>]" value="-1"/>
						<span class="white-glow">
							<span class="heart"></span>
						</span>
					</a>
				</li>
				<%
			end
			%>
		</ul>
		
		<a href="#" onclick="$('#selection_form').submit()" class="orange-button big-font centered-448">Next!</a>
		</form>
	</div>
</div>