<!-- <!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link href="css/fonts/fonts.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="css/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="js/game-persona.js"></script>
</head>
<body>
	<section id="page">
		<header id="header" class="clearfix">
			<h1 id="logo">
				<a href="index.html">
					<img src="img/logo.png" alt="Dezquare" width="172" height="42" />
				</a>
			</h1>
			<div class="square"></div>
			<div class="links">
				<a href="login.html">Log in</a>
				<span class="separator">|</span>
				<a href="#">Designer?</a>
			</div>
		</header>
		<section id="content"> -->
			<%
						s=15
						@game.images.size.times{|a| s=s+((100-s)/10)}
						%>
			<%
								
								logger.debug "#### #{@game.stage.args}"
								
								pool_size=@game.stage.args[:image_pool_size] || 100
								category = @game.category
								
								images = category.image_grab(pool_size,@game.max_price*1000).reject{|i| @game.images.include?(i) || [492,280,622,581].include?(i.id)}
								logger.debug "--------------------------------------------------------------"
								logger.debug " found #{images.length} images for category #{category.name}"
								
								rand_index = images.length==0 ? 0 : ((Time.now.to_f*1000)%images.length).ceil-1
								
								logger.debug " Random Index #{rand_index}"
								
								
								image=images[rand_index]
								logger.debug " image choosen  #{image.inspect}"
								
								
								logger.debug "--------------------------------------------------------------"
								
			%>
			<section id="content-inside">
				
				<section id="loading-designers" class="for-step-2">
					<div class="gray">
						<img src="/newver/img/loading-designers.png" alt="Loading..." />
					</div>
					<div class="orange" style="width: <%=s%>%;">
						<img src="/newver/img/loading-designers-orange.png" alt="Loading..." />
					</div>
				</section>
				
				<section id="persona-steps" class="for-step-2">
					<div class="step">
						<div class="icon">1</div>
						<div class="text">Select product</div>
					</div>
					<div class="step step2 active">
						<div class="icon">2</div>
						<div class="text">select designs</div>
					</div>
					<div class="step step3">
						<div class="icon">3</div>
						<div class="text">Get matched</div>
					</div>
				</section>
				
				<section id="design-selector">
					<div class="title-2r centered">
						<div class="r1">Select the designs you like</div>
						<div class="r2 color">As we map your taste</div>
					</div>
					<div class="content clearfix">
						<div class="image">
							<!-- <img src="img/temp/image.jpg" alt="Image" /> -->
							<img src="/repository/<%= image.file_path%>" />
						</div>
						<div class="buttons">
							<a href="/game/next?image_id=<%=image.id%>&selected=pass" class="button black">PASS</a>
							<a href="/game/next?image_id=<%=image.id%>&selected=like" class="button orange">LIKE</a>
						</div>
					</div>
				</section>
						
			</section>
		<!-- </section>
	</section>
</body>
</html> -->