<div class="wide-page-holder game-step" id="game-step-3">
	<div class="wide-page-wrap" style="padding-top: 40px; padding-bottom: 10px;">
		<h2>Let’s get to know your taste!</h2>
		<h4>Select the designs you like</h4>
		<div id="game-progress">
			<div id="game-progress-holder">
				<div id="game-progress-line1"></div>
				<div id="game-progress-line2"></div>
			</div>
		</div>
		<form action="/game/next">
			<div id="image-select">
				
				<%
				
				logger.debug "#### #{@game.stage.args}"
				
				viewed_personas = @game.images.map{|i| i.persona}.uniq
				viewed_personas = [] if viewed_personas.length==Persona.all.size 
				images = Persona.all.map{|p| p.images.shuffle.take(20)}.flatten.reject{|i| viewed_personas.include?(i.persona) || @game.images.include?(i)}
				
				logger.debug "--------------------------------------------------------------"
				image=images.shuffle.first
				logger.debug " image choosen  #{image.inspect}"
				
				
				logger.debug "--------------------------------------------------------------"
				
				%>
				
				<ul class="image">
					<li class="active">
						<img src="/repository/thumbnail/<%= image.file_path%>" />
					</li>
				</ul>
				<div class="buttons-select clearfix">
					<a href="/game/next?image_id=<%=image.id%>&selected=pass" class="black-button huge-font" >Pass</a>
					<a href="/game/next?image_id=<%=image.id%>&selected=like" class="orange-button huge-font" >Like</a>
				</div>
			</div>
			<div class="buttons2 clearfix">
				<!-- <a href="game1.html" class="black-button big-font">
					<img src="/img/arrow-left.png" class="normal" />
					<img src="/img/arrow-left-orange.png" class="hover" />
					Back
				</a> -->
				<a href="#" class="black-button big-font disabled next" id="submit">
					Next
					<img src="/img/arrow-right.png" class="normal" />
					<img src="/img/arrow-right-orange.png" class="hover" />
				</a>
			</div>
		</form>
	</div>
</div>
			