<section id="content-inside" style="margin-top: 25px;">
	<h2 class="centered">Sign-up to contact your matches today!</h2>
	<section class="sidebar-alt-screens">
					
		<section class="sidebar-alt-screen sidebar-register-screen" id="sidebar-register-classic">
			<section class="register-screen-content" style="margin-top: 40px;">	

				<!-- <div class="wide-page-holder game-step" id="game-step-3">
					<div class="wide-page-wrap"> -->
						<!-- <h2>Sign-up to contact your matches today!</h2> -->
						<!-- <h4>Simply add your name. Email and Password<br/>to kickoff the design</h4> -->
						<form action="/game/next" method="post" id="game5-form">
							
								
									
									<div class="formfield">
										<input type="text" class="text" name="name" />
										<label class="abs">Enter your First name</label>
										<label class="form-error">Invalid First Name</label>
									</div>
								
								
									<div class="formfield">
										<input type="text" class="text" name="l_name" />
										<label class="abs">Enter your Last name</label>
										<label class="form-error">Invalid Last Name</label>
									</div>
							
								
									
									<div class="formfield">
										<input type="text" class="text" name="email" />
										<label class="abs">Add your Email</label>
										<label class="form-error">Invalid Email address</label>
									</div>
						
							
									<div class="formfield">
										<input type="password" class="text" name="password" />
										<label class="abs">Choose a Password</label>
										<label class="form-error">The minimum password length is 6 characters</label>
									</div>
							
								
									<div class="formfield">
										<input type="password" class="text" name="re_password" />
										<label class="abs">Re-Enter Password</label>
										<label class="form-error">Password does not match</label>
									</div>
								
													
									<div class="formfield clearfix agree">
										<span class="checkbox">
											<input type="checkbox" name="agree_tos" />
										</span>
										<span class="text">
											I agree to the <a href="privacy.html">Privacy Policy</a> &amp; <a href="terms.html">Terms of Service</a>.
										</span>
									</div>
	
									<div class="submit clearfix">
  										<input type="submit" value="Sign up" class="button-orange" id="submit-step-6">
 							 		</div>
 							 
 							 		<div class="sidebar-bottom-note centered">

 							 			Already have an account? <!-- <a href="" id="bottom-login">Sign-in!</a> -->
											<%= link_to "Sign-in!", :controller=>:game, :action=>:next, :login=>1 %>				
									</div>
							<!-- <div class="buttons2 clearfix"> ->
								<!-- <a href="game4.html" class="black-button big-font">
									<img src="/img/arrow-left.png" />
									Back
								</a> -->
								<!--<a href="#" class="next red-button" id="submit-step-6">
									Kickoff
								</a>
							</div> -->
						</form>
					<!-- </div>
				</div> -->
			


</section>
</section>
</section>
</section>