
				<div class="wide-page-holder game-step" id="game-step-3">
					<div class="wide-page-wrap">
						<h2>You Rock!</h2>
						<h4>Kickoff the design to send the invitations<br/>to your matched designers</h4>
						<form action="#" id="game5-form">
							<div id="three-icons">
								<div class="icon">
									<img src="/img/finish-game-icons/icon1.jpg" alt="Accept" />
									<div class="text">The first designer to accept<br/>the invitation will get the job</div>
								</div>
								<div class="icon">
									<img src="/img/finish-game-icons/icon2.jpg" alt="Schedule" />
									<div class="text">The winner will email you<br/>to set the scheulde for the design</div>
								</div>
								<div class="icon">
									<img src="/img/finish-game-icons/icon3.jpg" alt="Winner" />
									<div class="text">The winning designer<br/>will create your rockin’ design!</div>
								</div>
							</div>
							<div class="buttons2 clearfix">
								<a href="/game/next" class="black-button big-font big-centered">
									Kickoff my Design!
								</a>
							</div>
						</form>
					</div>
				</div>
			