@media (min-width: 1900px) {
	#loading-designers {
		margin: 160px 30px;
		top: 100px;
	}
	div.r1 {
		margin-top: 30px;
	}
	#taste-selector article .hover {
		margin-top: 23px;
		height: 39%;
		line-height: 26px;
		top: 130px;
		width: 100%;
	}
	#persona-steps {
		margin: 100px 30px;
	}
}

/*@media (min-height: 800px) (max-height: 899px) {
	#loading-designers {
		margin: 80px 35px;
		top: 100px;
	}
	div.r1 {
		margin-top: 30px;
	}
	#taste-selector article .hover {
		margin-top: 23px;
		height: 39%;
		line-height: 26px;
		top: 130px;
		width: 100%;
	}
	#persona-steps {
		margin: 40px 35px;
	}
} */

@media (min-width: 2000px), (min-height: 1000px) {
	/*#design-selector div.image img {
		display: block;
		max-width: 100%;
		height: 412px;
		width: 412px;
	}*/
	#loading-designers {
		left: 10px;
		top: 100px;
	}
	#title { font-size: 70px; }
	#designs-bar .title { font-size: 28px; }
	#designs-bar .add-new { font-size: 14px; }
	#designs-bar .design { font-size: 14px; }
	
	#stats-map-title { font-size: 44px; }
	#latest-likes ul img { 
		display: block;
		width: 160px;
		height: 160px; 
	}
	#latest-likes .title { font-size: 20px; }
	
	#designer-props { width: 320px; }
	#designer-props .black-title span { font-size: 26px; }
	#designer-props .prop .level { height: 12px; }
	#designer-props .prop {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 18px;
	}
	
	#top-bar .user-info { width: 12%; }
	#profile-content.public-profile { left: 12%; }
	#profile-content #profile-photo-bar { 
		left: -12%; 
		width: 12%; 
	}
	#user-chat { width: 83%; }
	
	#profile-photo-bar .name { font-size: 24px; }
	#profile-photo-bar address { font-size: 18px; }
	#profile-photo-bar .options a { font-size: 15px; }
	#profile-photo-bar .foot-link { font-size: 25px; }
	
	#landing .text h4 {
		font-size: 48px;
		line-height: 64px;
	}
	#landing .buttons a {
		font-size: 42px;
		height: 74px;
		line-height: 74px;
	}
	
	#designer-selector { margin-top: 80px; }
	#designer-selector div.title-2r { margin-bottom: 20px; }
	.matched-designers .designer { margin-bottom: 12px; }
	#designer-selector .next { margin: 28px auto 10px; }
	
	#interview-payment div.title-2r { margin-bottom: 20px; }
	.form .submit-row { padding-top: 25px; }
	#interview-banner { margin-bottom: 32px; }
	.form .formfield { margin-bottom: 15px; }
	#interview-payment-content .form { padding-top: 20px; }
	
	#matches-found .form .formfield { margin-bottom: 17px; }
	
	#how-to .title{
		font-size: 79px;
		margin-bottom: 10px;
	}
}

/*@media (max-height: 999px) and (max-width: 1440px) {*/
	
@media (min-height:801px) and (max-height: 949px) {
	#taste-selector div.title-2r { margin-top:-100px; }
	#taste-selector{
		
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	#persona-steps.for-step-1.for-project-1 { top: 260px; }
	#taste-selector.project-1 div.title-2r { margin-bottom: 30px; }
	#taste-selector.project-1 article .title { line-height: 44px; }
	#taste-selector.project-1 article .title.r2 { line-height: 22px; }
	#taste-selector.project-1 article a { font-size: 16px; }
	

	
	#design-selector.project-2 {
		margin-left: -225px;
		top: 70px;
		width: 450px;
	}
	#design-selector-description.for-project-2 { top: 170px; }
	#persona-steps.persona2.for-project-2 { top: 320px; }
	#design-selector.project-2 div.image,
	#design-selector.project-2 div.image img {
		height: 400px;
		width: 320px;
	}
	
	#title { font-size: 5em; }

	#persona-steps.persona3.for-project-3 { top: 190px; }
	
	#designer-selector { margin-top: 20px; }
	#designer-selector div.title-2r { margin-bottom: 5px; }
	.matched-designers { width: 570px; }
	.matched-designers .action {
		height: 130px;
		width: 130px;
	}
	.matched-designers .action .default {
		font-size: 28px;
		line-height: 135px;
	}
	.matched-designers .details { margin-left: 130px; }
	.matched-designers .action .x,
	.matched-designers .action .v { 
		line-height: 130px;
		height: 130px; 
	}
	.matched-designers .head .name {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 0px;
	}
	.matched-designers .designer { margin-bottom: 8px; }
	.matched-designers .personal-info { margin-left: 72px; }
	.matched-designers .row1 { padding: 8px 10px 5px; }
	.matched-designers .extended {
		font-size: 11px;
		line-height: 15px;
	} 
	.matched-designers .row2 { padding: 3px 10px 0px; }
	.matched-designers .avatar img { max-height: 60px; }
	.matched-designers .prefered-colors .colors { margin-bottom: 1px; }
	.matched-designers .prefered-colors .color { height: 5px; }
	#designer-selector .next {
		margin: 10px auto 5px;
		font-size: 20px;
		line-height: 36px;
	}
	#designer-selector .or a { font-size: 16px; }
	.matched-designers .thumbs img { height: 42px; }
	
	#matches-found { margin-top: 100px; }
	
	/*#full-brief {
		margin-left: -550px;
		margin-top: -320px;
		width: 1100px;
	}
	#full-brief .content { padding: 35px 30px 25px; }
	#full-brief .basic-info { padding-right: 30px; }
	#full-brief .taste-and-style {
		margin-left: 210px;
		padding-left: 30px;
	}
	#full-brief .basic-info .avatar,
	#full-brief .basic-info .avatar img { width: 180px; }
	#full-brief .basic-info .name {
		font-size: 32px;
		margin-bottom: 15px;
	}
	#full-brief .profile-config { margin-bottom: 100px; }
	#full-brief .profile-config.v2-space { margin-bottom: 193px; }
	#full-brief .profile-config li {
		font-size: 14px; 
		margin-bottom: 5px; 
	}
	#full-brief .taste-and-style .big-title {
		font-size: 46px;
		line-height: 42px;
		margin-bottom: 10px;
	}
	#full-brief .most-colors .color { height: 8px; }
	#full-brief .text-title { font-size: 18px; }
	#full-brief .taste-and-style .taste-top { margin-bottom: 10px; }
	#full-brief .basic-info .button { font-size: 16px; }
	#full-brief .user-stats { padding: 0px 10px 0px 0px; }*/
	
	#interview-payment { margin-top: 25px; }
	#interview-payment div.title-2r { margin-bottom: 10px; }
	#interview-banner { margin-bottom: 10px; }
	#interview-payment-content .form { padding-top: 10px; }
	#interview-banner .info,
	#interview-banner .price { line-height: 60px; }
 	#interview-banner .alt { line-height: 58px; }	
	#interview-banner .images { padding-top: 6px; }	 
	.form .formfield { margin-bottom: 9px; }
	.form .submit-row { padding-top: 0px; }
	.form label { 
		font-size: 17px;
		line-height: 22px; 
	}
	.form .text,
	.combobox .value {
		height: 20px;
		line-height: 20px;
		font-size: 14px;
	}
	.combobox .options { top: 20px; }
	
	.huge-title { font-size: 84px; }
	#profile-table .top-row { margin-bottom: 50px; }
	#profile-config .colors .subject { width: 280px; } 
	
	#profile-table .select-area .combobox .value { line-height: 20px; }
	#profile-table .select-area .combobox .options { top: 20px; }
	
	#title { 
		font-size: 73px;
		margin-bottom: 10px;
	 }
}

@media (min-height: 800px) and (max-height: 950px) and (min-width: 1300px) and (max-width: 1679px) {
	
	#title { font-size: 60px; }
	#landing .text h4 {
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	#landing .buttons a {
		font-size: 36px;
		height: 56px;
		line-height: 56px;
	}
	
	#profile-table .top-row { margin-bottom: 40px; }
	#designer-list .row { margin-bottom: 15px; }
	
		#loading-designers {
		margin: 80px 35px;
		top: 100px;
	}
	div.r1 {
		margin-top: 30px;
	}
	#taste-selector article .hover {
		margin-top: 23px;
		height: 39%;
		line-height: 26px;
		top: 130px;
		width: 100%;
	}
	#persona-steps {
		margin: 40px 35px;
	}
}

@media (max-height: 799px), (max-width: 1439px) {
	div.r1 { margin-top: -40px;}
	#landing .text h4 {
		font-size: 34px;
		line-height: 42px;
		margin-bottom: 25px;
	}
	#landing .buttons a {
		font-size: 30px;
		height: 50px;
		line-height: 50px;
	}
	
	#profile-table .select-area .label {
		font-size: 24px;
		line-height: 22px;
		margin-bottom: 10px; 
	}
	#profile-table .select-area .link {
		font-size: 18px;
		line-height: 16px;
	}
	#designer-list .image { width: 90px; }
	#designer-list .image.image-big {
		width: 284px;
	}
	#designer-list.in-sidebar .col2 .title { 
		font-size: 18px;
		line-height: 16px;
	}
	#designer-list.in-sidebar .col1 { margin-bottom: 30px; }
	#designer-list.in-sidebar .col2 .image { width: 70px; }
	#user-chat-feed-holder { left: 290px; }
	#user-chat-content { margin-left: 290px; }
	#designer-list .col1 .name { 
		font-size: 28px;
		line-height: 28px; 
	}
	#designer-list .col1 .position {
		font-size: 18px;
		margin-bottom: 10px;
	}
	#designer-list .quote .terms .col { padding: 8px 0px 6px; }
	#designer-list .quote .name {
		font-size: 15px;
		line-height: 16px; 
		margin-bottom: 5px; 
	}
	#designer-list .quote .value { 
		font-size: 22px;
		line-height: 22px; 
	}
	#designer-list .quote .terms .button-row { padding: 4px; }
	#designer-list .project-title {
		font-size: 26px;
		margin-bottom: 8px;
	}
	#designer-list .project-terms .col { padding: 5px 10px; }
	#designer-list .brief-content {
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 11px;
	}
	#designer-list .project-current-status {
		height: 44px;
		line-height: 44px;
		margin-bottom: 20px;
	}
	#designer-list .project-expanded .col1 .image { margin-bottom: 20px; }
	#designer-list .project-expanded .col1 .title { 
		margin-bottom: 5px;
		font-size: 18px; 
	}
	
	#landing .find-designer {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		left: 0px;
		top: 70px;
	}
	#landing .dbl-lines.first-line .left,
	#landing .dbl-lines.first-line .right { top: 37px; }
	#landing .dbl-lines .left,
	#landing .dbl-lines .right { top: 40px; }
	#how-to .how-to-inside {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		left: -110px;
		right: -110px;
	}
	#how-to .title{
		/*font-size: 94px;*/
		margin-bottom: 10px;
	}
	#how-to .steps { margin-bottom: 35px; } /*from 40*/
}

@media (max-height: 879px) and (max-width: 1300px) {
	/*#taste-selector article .hover {
		margin-top: 23px;
		height: 39%;
		line-height: 26px;
		top: 130px;
		width: 100%;
	}*/	
	#matches-found{
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	div.r1 { margin-top: -40px;}
	#title {
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		
	}
	#landing .text {
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
			
	}
	div.title-2r { 
		font-size: 38px;
	 	line-height: 40px;
	}
	div.title-2r div.r2 { font-size: 28px; }
	#taste-selector .form {
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		
	}
	
	#loading-designers {
		/*-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8); */
		left: -8px;
		top: 100px;
	}
	#persona-steps { 
		/*-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);*/
		/*left: 10px;*/
		top: 295px;
		left: -8px;
	}
	#taste-selector article .including { 
		/*margin-top: 10px; */
	}
	
	#design-selector {
		margin-left: -270px;
		width: 541px;
	}
	#design-selector-description { top: 240px; }
	#persona-steps.persona2 { top: 410px; }
	#persona-steps.persona3 { top: 330px; }

	section#display { margin-right: 20px; }
	section#game-persona-result div.title { 
		font-size: 60px;
		line-height: 70px; 
	}
	section#game-persona-result div.description div.text { margin-right: 330px; }
	section#game-persona-result div.description p {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 15px;
	}
	section#game-persona-result ul.images { width: 316px; }
	section#game-persona-result ul.images li {
		margin-right: 7px;
		margin-bottom: 5px;
		width: 151px;
	}
	section#game-persona-result ul.images img {
		height: 151px;
		width: 151px;
	}
	section#game-persona-result .resume .text { font-size: 16px; }
	section#game-persona-result .resume { margin-bottom: 10px; }
	
	#matches-found { margin-top: 60px; }
	#matches-found .matches { margin-bottom: 50px; }
	
	#matches-found.with-form { margin-top: 60px; }
	#matches-found.with-form .matches { margin-bottom: 20px; }
	#matches-found .middle-title { 
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 20px;  
	}
	#matches-found .form { margin-bottom: 20px; }
	#matches-found.with-form .button {
		font-size: 22px;
		line-height: 40px;
	}
	
	#profile-table .top-row .huge-title { width: 560px; }
	#designer-list .col1 { width: 320px; }
	#designer-list .quote { width: 254px; }
	.huge-title {
		font-size: 68px;
		line-height: 60px;
	}
	#profile-config .colors .subject { width: 200px; }
}

@media (max-height: 799px) {
	
	#content-inside {
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);		
	}
	/*div.r1 { margin-top: -40px;}*/
	#taste-selector div.title-2r { margin-bottom: 40px; }
	div.title-2r { 
		font-size: 32px;
	 	line-height: 36px;
	}
	div.title-2r div.r2 { font-size: 26px; }
	
	#design-selector {
		margin-left: -240px;
		width: 480px;
	}
	#design-selector-description { top: 200px; }
	#persona-steps.persona2 { top: 350px; }
	#persona-steps.persona3 { top: 280px; }
	
	#word-selector {
		margin-left: -325px;
		width: 650px;
	}
	
	section#game-persona-result ul.images { display: none; }
	section#game-persona-result div.description div.text { margin-right: 0px; }
	
	#designer-props { top: 140px; }
	#designer-props .color { margin-bottom: 10px; }
	#designer-props .black-title { 
		margin-bottom: 10px; 
		font-size: 21px;
		line-height: 20px;
	}
	#designer-props .black-title span { margin-bottom: 1px; }
	#designer-props .prop .level { height: 5px; }
	
	#matches-found.with-form .matches { margin-bottom: 10px; }
	#matches-found .middle-title { 
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 15px;
		margin-top: 35px;  
	}
	#matches-found.with-form textarea { height: 80px; }
	
	#full-brief .profile-config {
		padding: 0px;
		list-style-type: none;
		font-family: 'Roboto';
		font-size: 16px;
		font-weight: 100;
		word-wrap: break-word;
		max-width: 250px;
	}
}

@media (max-width: 1300px) {
	#taste-selector {
		margin-left: -260px;
		width: 599px; 
	}
	#loading-designers {
		
		top: 130px;
	}
	#taste-selector article { width: 181px;}
	#taste-selector article a { font-size: 16px; }
	
	#profile-photo-bar .options li { line-height: 18px; }
	#profile-photo-bar .options .icon { width: 20px; }
	#profile-photo-bar .options .icon img { height: 20px; }
	#profile-photo-bar .foot-link { margin-bottom: 24px; }
	
	#landing .dbl-lines.first-line .left,
	#landing .dbl-lines.first-line .right { top: 38px; }
	#how-to .how-to-inside { top: 16%; }
	#landing .find-designer {
		-moz-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-o-transform: scale(0.7);
		-ms-transform: scale(0.7);
		transform: scale(0.7);
		left: -40px;
		top: 45px;
	}
	#how-to .how-to-inside {
		-moz-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-o-transform: scale(0.7);
		-ms-transform: scale(0.7);
		transform: scale(0.7);
		left: -185px;
		right: -185px;
	}
	#how-to .title,
	#how-to .steps { margin-bottom: 80px; }
	#how-to .title { font-size: 72px; } /* from 44*/
}

/* IPAD Portrait only */
@media (min-height: 800px) and (max-width: 1000px) {
	#persona-steps.persona3.for-project-3 { top: 260px; }
	#designer-selector { padding-left: 220px; }
}

/* End IPAD Portrait only */
/* IPAD Landscape only */
@media (min-width: 800px) and (max-width: 1000px) and (max-height: 1000px), (max-height: 750px) and (max-width: 1100px) {
	#content-inside {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);		
	}
	
	div.r1 { margin-top: -40px;}
	#taste-selector div.title-2r { margin-bottom: 40px; }
	div.title-2r { 
		font-size: 32px;
	 	line-height: 36px;
	}
	
	#loading-designers { top: 120px; left: -70px; }
	#persona-steps.for-step-1 { top: 245px; left: -70px; }
	#persona-steps.for-step-2 { top: 265px; left: -70px; }
	#taste-selector { top: 120px; }
	
	#design-selector-description { top: 140px; }
	#persona-steps.persona2 { top: 300px; }
	#persona-steps.persona3 { top: 200px; }
	#design-selector { top: 20px; }
	#loading-designers.for-step-2 { top: 120px; }
	
	#word-selector { top: 20px; }
	
	.register-screen-content { top: 20px; }
	
	#taste-config { top: 20%; }
	#profile-photo-bar .options li { line-height: 18px; }
	#profile-photo-bar .options .icon { width: 20px; }
	#profile-photo-bar .options .icon img { height: 20px; }
	#top-bar { height: 8%; }
	#top-bar .user-info { width: 20%; }
	#top-bar .user-info h2 { font-size: 18px; }
	#profile-content.public-profile { left: 20%; }
	#profile-content #profile-photo-bar {
		left: -20%; 
		width: 20%;
	}
	#user-chat-holder { width: 75%; }
	#profile-content.hide-masonry #profile-config { left: 20%; }
	
	#persona-steps.for-step-1.for-project-1 { top: 190px; }
	.matched-designers { width: 540px; }  
	.matched-designers .avatar img { max-height: 50px; }
	#design-selector.project-2 { top: 20px; }
	#design-selector-description.for-project-2 { top: 120px; }
	#persona-steps.persona2.for-project-2 { top: 270px; }
	
	#persona-steps.persona3.for-project-3 { top: 150px; }
	#designer-selector { 
		padding-left: 220px;
		margin-top: 3px; 
	}
	#designer-selector div.title-2r { margin-bottom: 5px; }
	#designer-selector div.title-2r div.r1 {
		font-size: 30px;
		line-height: 30px;
	}
	#designer-selector div.title-2r div.r2 {
		font-size: 22px;
		line-height: 28px;
	}
	.matched-designers .action {
		height: 115px;
		width: 120px;
	}
	.matched-designers .action .default { line-height: 120px; }
	.matched-designers .designer { margin-bottom: 4px; } 
	.matched-designers .action .v { 
		line-height: 115px;
		height: 115px; 
	}
	.matched-designers .row1 { padding: 5px 8px 5px; }
	.matched-designers .head .name {
		font-size: 15px;
		line-height: 14px;
		margin-bottom: 0px;
	}
	.matched-designers .ranking { margin-top: 0px; }
	.matched-designers .details { margin-left: 120px; } 
	.matched-designers .thumbs .image { border: 0px none; }
	.matched-designers .thumbs img { height: 40px; }
	.matched-designers .extended { line-height: 14px; }
	.matched-designers .personal-info { margin-left: 62px; }
	.matched-designers .prefered-colors .title {
		font-size: 10px;
		line-height: 10px;
	}
	#designer-selector .next { 
		margin: 5px auto 3px;
		line-height: 30px;
		font-size: 16px;  
	}
	#designer-selector .or a { font-size: 12px; }
	
	#full-brief .profile-config li.gap { margin-bottom: 20px; }
	#full-brief {
		margin-left: -470px;
		margin-top: -255px;
		width: 940px;
	}
	#full-brief .basic-info { padding-right: 20px; }
	#full-brief .profile-config { margin-bottom: 20px; }
	#full-brief .profile-config.v2-space { margin-bottom: 95px; }
	#full-brief .grid { height: 320px; }
	#full-brief .taste-and-style {
		margin-left: 200px;
		padding-left: 20px;
	}
	#full-brief .taste-and-style .big-title {
		font-size: 40px;
		line-height: 36px;
		margin-bottom: 10px;
	}
	#full-brief .user-stats ul {
		font-size: 15px;
		line-height: 24px;
	}
	#full-brief .user-stats .count {
		font-size: 18px;
		line-height: 24px;
		width: 50px;
	}
	#full-brief .text-title { font-size: 15px; }
	#full-brief .taste-and-style .taste-top { margin-bottom: 5px; }
	#full-brief #design-gallery .image-item.item-1 {
		left: 0px;
		top: 0px;
		height: 105px;
		width: 215px;
	}
	#full-brief #design-gallery .image-item.item-2 {
		left: 0px;
		top: 110px;
		height: 215px;
		width: 215px;
	}
	#full-brief #design-gallery .image-item.item-3 {
		left: 220px;
		top: 0px;
		height: 215px;
		width: 215px;
	}
	#full-brief #design-gallery .image-item.item-4 {
		left: 220px;
		top: 220px;
		height: 105px;
		width: 105px;
	}
	#full-brief #design-gallery .image-item.item-6 {
		left: 440px;
		top: 0px;
		height: 105px;
		width: 215px;
	}
	#full-brief #design-gallery .image-item.item-7 {
		left: 440px;
		top: 110px;
		height: 105px;
		width: 215px;
	}
	#full-brief #design-gallery .image-item.item-8 {
		left: 330px;
		top: 220px;
		height: 105px;
		width: 215px;
	}
	#full-brief #design-gallery .image-item.item-9 {
		left: 550px;
		top: 220px;
		height: 105px;
		width: 105px;
	}
	#overlay { 
		position: fixed;
		right: auto;
		bottom: auto;
		height: 2000px;
		width: 2000px; 
	}
	
	#interview-payment { 
		padding-left: 260px;
		margin-top: 0px; 
	}
	#interview-payment div.title-2r div.r2 { 
		font-size: 22px;
		line-height: 26px; 
	}
	#interview-payment-content { width: 700px; }
	#interview-banner .info { font-size: 16px; }
	#interview-banner { margin-bottom: 7px; }
	#interview-banner .price,
	#interview-banner .info { line-height: 44px; }
	#interview-banner .alt { line-height: 42px; }
	#interview-banner .close { line-height: 46px; }
	#interview-banner .images { padding: 4px 0px 0px 5px; }
	#interview-banner .image img { height: 35px; }
	#interview-payment-content .form { position: relative; }
	.form .title {
		font-size: 16px;
		line-height: 28px;
	}
	.form .col { width: 350px; }
	.form .formfield { margin-bottom: 6px; }
	.form .col2 { width: 340px; } 
	.form input.text { float: left; }
	.form label {
		font-size: 16px;
		width: 115px;
	}
	.form .col2 label { width: 105px; }
	.form .note { margin-left: 120px; }
	.form .submit-row button {
		line-height: 30px;
		font-size: 16px;
		height: 30px;
	}
	
	#profile-analytics .title {
		font-size: 16px;
		margin-bottom: 5px;
	}
	#analytics-matches { width: 40%; }
	#analytics-likes { top: 60%; }
	#analytics-style {
		left: 42%;
		width: 53%;
	}
	#analytics-colors {
		top: 60%;
		left: 42%;
		width: 53%;
	}
	#analytics-colors .colors {
		top: 12%;
		bottom: 5%;
	}
	
	#landing .text h4 {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 25px;
	}
	#landing .buttons a { font-size: 28px; }
	
	#matches-found.with-form { 
		margin-top: 30px;
		padding-left: 0px; 
	}
	#matches-found { padding-left: 80px; }
	#matches-found form {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
	
	#profile-table .top-row .huge-title { width: 520px; }
	#profile-table .select-area { width: 200px; }
	#profile-table .top-row { margin-bottom: 40px; }
	#designer-list .row { margin-bottom: 15px; }
	#profile-table .select-area .label {
		font-size: 18px;
		line-height: 16px;
		margin-bottom: 7px;
	}
	#designer-list .col1 .name {
		font-size: 24px;
		line-height: 24px;
	}
	#designer-list .col1 .position {
		font-size: 15px;
		margin-bottom: 7px;
	}
	#designer-list .col1 { padding-top: 14px; }
	#profile-table .select-area .link {
		font-size: 14px;
		line-height: 14px;
	}
	#designer-list .col2 .title {
		font-size: 16px;
		line-height: 14px;
	}
	#designer-list .project-expanded .col1 {
		margin-right: 30px; 
		width: 230px; 
	}
	#designer-list .project-current-status {
		font-size: 18px;
		height: 34px;
		line-height: 34px;
	}
	#designer-list .quote { width: 200px; }
	#designer-list .image { width: 80px; }
	#designer-list .image.image-big { width: 254px; }
	#designer-list.in-sidebar .col1 { margin-bottom: 20px; }
	#designer-list.in-sidebar .quote { margin-bottom: 10px; }
	#designer-list .quote .terms .col { padding: 5px 0px 3px; }
	#designer-list .quote .value {
		font-size: 20px;
		line-height: 20px;
	}
	#designer-list .quote .name {
		font-size: 14px;
		margin-bottom: 3px;
	}
	#designer-list .col1 { width: 260px; }
	#designer-list .project-title { 
		font-size: 23px;
		margin-bottom: 5px; 
	}
	#designer-list .project-terms .quote-value.status { font-size: 14px; }
	#designer-list .project-terms .quote-value { font-size: 18px; }
	#designer-list .project-terms .col { 
		height: 42px;
		padding: 5px;
		width: 105px; 
	}
	#designer-list .project-terms .button-row a { font-size: 13px; }
	#designer-list .brief-content {
		font-size: 10px;
		line-height: 13px;
		margin-bottom: 6px;
	}
	#designer-list .project-expanded .col1 .title { font-size: 14px; }
	#designer-list .loaders .label { font-size: 13px; }
	
	#profile-config .row { margin-bottom: 7px; }
	#profile-config .row .label { font-size: 11px; }
	
	#how-to .how-to-inside {
		left: -140px;
		right: -140px;
	}
	
	#how-to .title{
		font-size: 55px;
		margin-bottom: 10px;
	}
}
/* End IPAD Landscape only */

