<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">
  body p {
	font-family: Verdana, Geneva, sans-serif;
}
  </style>
  <title>Why?!? Tell us why!</title>
  </head>
<body>
    <h1>Hey  <%= @user.name %>,</h1>
    <p>You just declined a project on dèzquare. We would like to know why you’ve declined it. It’s very important for us to understand your motives so we can optimize and make dèzquare even better. </p>
    <p>You would really rock our world if you can answer this 30 second survey, just click on the link below and you’re ready to go!<br>
</p>
<p>We love your questions, requests and feedback!<br />
Don’t be shy with it and tell us everything at – <a href="mailto:feedback@dezquare.com">feedback@dezquare.com</a>
</p>
<p>Keep Rockin’!<br>
The dèzquare gang.</p>
<p><br />
</p>
</body>
</html>