<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.name %>,</h1>
    <p>
      You’ve got an awesome taste! 
</p>
    <p>
A new customer is waiting for you to “rock their world” with your talent.
<a href="http://dezquare.com/site/index?k=w">Sign-in to your account</a> and get access to all the details about the requested design. Then, email the customer within 24 hours with your quote and estimated timeframe for the job. 

</p>
    <p>
We can’t wait to see what magical design you’ll create this time! 
</p>
    <p>
Note:<br/>
If you’re too shy or too busy to take this job – Please contact us ASAP to: <a href="mailto:2busy@dezquare.com">2busy@dezquare.com</a>, so we can match the customer to a different talent. 

</p>
    <p>
Keep Rockin’!<br />
The dèzquare gang.

    </p>
   
  </body>
</html>