<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>You forgot your password, but fear not.</br>Here is your account information</p>
    <p>
      Login via – <a href="http://dezquare.com/">Dezquare.com</a>.<br />
      your username is: <%= @user.email %><br/>
      your Password is: <%= @user.password%><br/>
    </p>
    
    <p>We love your questions, requests and feedback!<br />
Don’t be shy with it and tell us everything at – <a href="mailto:feedback@dezquare.com">feedback@dezquare.com</a>
</p>
<p>Keep Rockin’!<br />
The dèzquare gang.</p>
  </body>
</html>