<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">
  body p {
	font-family: Verdana, Geneva, sans-serif;
}
  </style>
  <title>You did it!</title>
  </head>
<body>
    <h1>Hey  <%= @user.name %>,</h1>
<p>Awesome, you finished a project! </p>
    <p>Upload the design and showoff your talent,<br>
      while we’re working to get your next match ready for you.</p>
<p>We love your questions, requests and feedback!<br />
Don’t be shy with it and tell us everything at – <a href="mailto:info@dscovered.com">info@dscovered.com</a>
</p>
<p>Keep Rockin’!<br>
The dscovered gang.</p>
<p><br />
</p>
</body>
</html>