<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>You forgot your passwrd, but fear not.</br>Here is your account information</p>
    <p>
      Longin via – <a href="http://dezquare.com/site/index?k=w">Dezquare.com</a>.<br />
      your username is: <%= @user.email %><br/>
      your Password is: <%= @user.password%><br/>
    </p>
    <p>
      Please review the following guides for working with Dezquare:<br />
      <a href="http://dezquare.com/howtowork_guide.jpg" >Get Started Guide</a><br />

      <a href="http://dezquare.com/dezquare_cover_profile_images.psd" >Use this to make your profile look awesome</a><br />
    </p>
    <p>We love your questions, requests and feedback!<br />
Don’t be shy with it and tell us everything at – <a href="mailto:feedback@dezquare.com">feedback@dezquare.com</a>
</p>
<p>Keep Rockin’!<br />
The dèzquare gang.</p>
  </body>
</html>