<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">
  body p {
	font-family: Verdana, Geneva, sans-serif;
}
  </style>
  <title>Congrats!</title>
  </head>
<body>
    <h1>Hey  <%= @user.name %>,</h1>
    <p>Congrats on your first login! </p>
<p>We’re working on matching you to your first customer so be ready! <br>
      Quick tip from us, getting great clients relies on your portfolio, so make sure you upload your best work!</p>
<p>We love your questions, requests and feedback!<br />
Don’t be shy with it and tell us everything at – <a href="mailto:feedback@dezquare.com">feedback@dezquare.com</a>
</p>
<p>Keep Rockin’!<br>
The dèzquare gang.</p>
<p><br />
</p>
</body>
</html>