<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">
  body p {
	font-family: Verdana, Geneva, sans-serif;
}
  </style>
  <title></title>
  </head>
<body>
    <h1>Hey  <%= @user.name %>,</h1>
<p>We miss you, we really do! We heard you&rsquo;re pretty busy lately, but there are great clients waiting for you at dèzquare. </p>
<p>To get those great clients you need to make sure your settings are set on &ldquo;available&rdquo;.<br>
And that&rsquo;s pretty easy to do! Just go to your dashboard and next to your name you can change your availability setting.  </p>
<p>Hope to see you soon!</p>
<p>We love your questions, requests and feedback!<br />
Don’t be shy with it and tell us everything at – <a href="mailto:feedback@dezquare.com">feedback@dezquare.com</a>
</p>
<p>Keep Rockin’!<br>
The dèzquare gang.</p>
<p><br />
</p>
</body>
</html>