<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.name %>,</h1>
    <p>
      You’ve got an awesome taste! 
</p>
    <p>
Thanks for your interest to join our creative gang.
We’ll view your work and get back to you soon.

</p>
    <p>
In the meantime, you can hangout with us at –<br />
Facebook: <a href="http://www.facebook.com/dezuqare">www.facebook.com/dezuqare</a><br />
Twitter: <a href="https://twitter.com/Dezquare">@dezquare</a><br />
Tumbler: <a href="http://gottaste.tumblr.com/">gottaste.tumblr.com</a>
</p>
    <p>
Or email us at – <a href="mailto:info@dezquare.com">info@dezquare.com</a>
</p>
    <p>
Stay awesome!<br />
The dèzquare gang.

    </p>
   
  </body>
</html>