<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
<div><br></div><div><div>To protect your account we've reseted your password</div>
<div>and created a temporary new one for you - <%= @user.password%>&nbsp;</div><div><br></div><div>You can change your password at any time through your account settings.</div>
<div><a href="http://dezquare.com/site/index?k=w">Dezquare.com</a>.</div><div><br></div><div>Stay awesome stay stylish!&nbsp;</div>


   
  </body>
</html>