<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   <p >Hi <%=@user.name%>,</p><p ><br></p><p >Welcome to dscovered - the design square!</p><p ><br></p>
   <p >Press on the following link to activate your account and join the party.</p>
<p ><a href="http://www.dscovered.com/confirm/email/<%=@user.get_token%>?u=<%=@user.id%>">Confirm this mail address</a></p>
<p ><br></p><p >Stay awesome stay stylish!</p><p >The dscovered gang</p><p ><br></p><p ><br></p>



  </body>
</html>