<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p >Hi <%= @user.name %>,</p>

<p >&nbsp;</p>

<p >Rumor has it that you want to change your password.</p>

<p >&nbsp;</p>

<p >To access the account at anytime you’ll need to use your new
password.</p>

<p >&nbsp;</p>

<!-- <p >To dismiss the rumor, press on the following link- <a href="http://www.dezquare.com/confirm/abort/<%=@user.get_token%>?u=<%=@user.id%>">Dismiss and Reset Password</a></p>

<p >&nbsp;</p> -->

<p >We love your questions, requests and feedback!</p>

<p >Don’t be shy with it and tell us everything at – <a href="mailto:info@dscovered.com" target="_blank">info@dscovered.com</a></p>

<p >&nbsp;</p>

<p >Stay awesome stay stylish!</p>

<p >The dscovered gang</p>

<div>
   
   
   
  </body>
</html>