<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.name %>,</h1>
    <p>
      You’ve got an awesome taste! 
</p>
    <p>
As we speak, the designer we matched for you is getting ready
to “rock your world” with some of the coolest ideas for your flyer.
</p>
    <p>
The designer will guide you through the design process and 
send you an estimated quote and timeframe to complete the design.
</p>
    <p>
Due to time differences, preparations might take up to 24hrs,
so in the meantime, showoff your great taste and join our pack 
of followers on <a href="http://www.twitter.com/dezquare">Twitter</a>.
</p>
    <p>
Stay awesome!<br />
The dèzquare gang.

    </p>
   
  </body>
</html>