<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<title>dscovered</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link href="/newver/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver//newver/css/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" src="/newver/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="/newver/js/global.js"></script>
</head>
<body>
	<section id="page">
		<header id="header" class="clearfix">
			<h1 id="logo">
				<a href="index.html">
					<img src="img/logo.png" alt="dscovered" width="172" height="42" />
				</a>
			</h1>
			<div class="square"></div>
		</header>
		<section id="content">
			<section id="top-bar" class="clearfix">
				<div class="user-info">
					<h2>
						<a href="#">LIMOR GOLDHABER</a>
					</h2>
					<address>Tel-Aviv, Israel</address>
				</div>
				<nav>
					<a href="#">Explore</a>
					<a href="#">My Taste</a>
					<a href="#" class="different">New</a>
				</nav>
			</section>
			<section id="taste-config">
				<div class="title">Your Taste is:</div>
				<div class="prop">
					<div class="level" style="width: 45%;">
						<div class="name">Geeky</div>
						<div class="value">45%</div>
					</div>
				</div>
				<div class="prop">
					<div class="level" style="width: 95%;">
						<div class="name">Sophisticated</div>
						<div class="value">95%</div>
					</div>
				</div>
				<div class="prop">
					<div class="level" style="width: 14%;">
						<div class="name">Playful</div>
						<div class="value">14%</div>
					</div>
				</div>
				<div class="prop">
					<div class="level" style="width: 63%;">
						<div class="name">Sexy</div>
						<div class="value">63%</div>
					</div>
				</div>
				<div class="prop">
					<div class="level" style="width: 25%;">
						<div class="name">Gaga</div>
						<div class="value">25%</div>
					</div>
				</div>
			</section>
			<div id="stats-map" class="clearfix">
				<div class="title">
					Your taste<br/>
					is <span class="color">inspired</span> by<br/>
					people from:
				</div>
				<div class="bubble size-10" style="left: 593px; top: 217px;">
					<div class="hover">
						<canvas width="64" height="51"></canvas>
						<div class="disc"></div>
						<div class="avatars">
							<a href="#">
								<img src="img/temp/avatar.png" alt="Name" />
							</a><a href="#">
								<img src="img/temp/avatar.png" alt="Name" />
							</a><a href="#">
								<img src="img/temp/avatar.png" alt="Name" />
							</a>
							<div class="country">Israel</div>
						</div>
					</div>
				</div>
			</div>
			<div id="latest-likes">
				<ul>
					<li>
						<a href="#">
							<img src="img/temp/like.jpg" alt="Photo Name"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/temp/like.jpg" alt="Photo Name"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/temp/like.jpg" alt="Photo Name"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/temp/like.jpg" alt="Photo Name"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/temp/like.jpg" alt="Photo Name"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/temp/like.jpg" alt="Photo Name"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/temp/like.jpg" alt="Photo Name"/>
						</a>
					</li>
				</ul>
				<div class="title">Your Latest Likes</div>
			</div>
			<div id="designer-props">
				<div class="colors">
					<div class="title">Your colors</div>
					<div class="subject">
						<div class="color" style="background: #0c3c8e;"></div>
						<div class="color" style="background: #00a4a4;"></div>
						<div class="color" style="background: #00a1ce;"></div>
						<div class="color" style="background: #5eb00e;"></div>
						<div class="color" style="background: #d0d300;"></div>
						<div class="color" style="background: #2f7528;"></div>
						<div class="color" style="background: #da005f;"></div>
						<div class="color" style="background: #e73e1b;"></div>
						<div class="color" style="background: #f38e00;"></div>
						<div class="color" style="background: #616161;"></div>
					</div>
					<div class="black-title clearfix">
						<span>U FANCY A DESIGN</span>
						<span>THAT IS:</span>
					</div>
					<div class="prop">
						<div class="level" style="width: 5%;"></div>
						<div class="name">Urban</div>
					</div>
					<div class="prop">
						<div class="level" style="width: 10%;"></div>
						<div class="name">Colorful</div>
					</div>
					<div class="prop">
						<div class="level" style="width: 25%;"></div>
						<div class="name">No Text</div>
					</div>
					<div class="prop">
						<div class="level" style="width: 80%;"></div>
						<div class="name">Minimalism</div>
					</div>
					<div class="prop">
						<div class="level" style="width: 100%;"></div>
						<div class="name">Realistic Image</div>
					</div>
					<div class="prop">
						<div class="level" style="width: 5%;"></div>
						<div class="name">Black &amp; White</div>
					</div>
					<div class="prop">
						<div class="level" style="width: 10%;"></div>
						<div class="name">Colorful</div>
					</div>
					<div class="prop">
						<div class="level" style="width: 25%;"></div>
						<div class="name">No Text</div>
					</div>
					<div class="prop">
						<div class="level" style="width: 80%;"></div>
						<div class="name">Minimalism</div>
					</div>
					<div class="prop">
						<div class="level" style="width: 100%;"></div>
						<div class="name">Realistic Image</div>
					</div>
				</div>
			</div>
			
			<section id="profile-content" style="left: 0px;margin-left: 0px;">
				<section id="profile-photo-bar">
					<div id="profile-photo-bar-content">
						<div id="profile-photo">
							<img src="img/temp/profile-pic.jpg" alt="JISHAI Z. EVERS" />
						</div>
						<div class="name">JISHAI Z. EVERS</div>
						<address>Amsterdam, The Netherlands</address>
					</div>
				</section>
				<section id="design-gallery">
					<section id="design-gallery-content" class="clearfix">
						<article>
							<a href="#">
								<img src="img/temp/gallery-1.jpg" />
							</a>
						</article>
						<article>
							<a href="#">
								<img src="img/temp/gallery-1.jpg" />
							</a>
						</article>
						<article style="float: none;">
							<a href="#">
								<img src="img/temp/gallery-1.jpg" />
							</a>
						</article>
						<article>
							<a href="#">
								<img src="img/temp/gallery-2.jpg" />
							</a>
						</article>
						<article>
							<a href="#">
								<img src="img/temp/gallery-2.jpg" />
							</a>
						</article>
						<article style="float: none;">
							<a href="#">
								<img src="img/temp/gallery-1.jpg" />
							</a>
						</article>
						<article style="float: none;">
							<a href="#">
								<img src="img/temp/gallery-1.jpg" />
							</a>
						</article>
						<article>
							<a href="#">
								<img src="img/temp/gallery-1.jpg" />
							</a>
						</article>
						<article>
							<a href="#">
								<img src="img/temp/gallery-1.jpg" />
							</a>
						</article>
						<article>
							<a href="#">
								<img src="img/temp/gallery-1.jpg" />
							</a>
						</article>
					</section>
				</section>
			</section>
		</section>
		<footer id="footer" class="clearfix">
			<div class="copyright">&copy;dscovered 2012-2013</div>
			<nav class="links">
				<a href="#">About</a>
				<span>|</span>
				<a href="#">Privacy Policy</a>
				<span>|</span>
				<a href="#">Terms of Use</a>
				<span>|</span>
				<a href="#">Blog</a>
				<span>|</span>
				<a href="#">Facebook</a>
				<span>|</span>
				<a href="#">Twitter</a>
			</nav>
		</footer>
	</section>
</body>
</html>