<!DOCTYPE html>
<html>
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/main.css" media="screen" rel="stylesheet" type="text/css" > 
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.uploadify-3.1.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script></head>
<body>
	<div id="page">
		<div id="header">
			<div class="page-content clearfix">
				<h1 id="logo">
					<a href="dashboard.html">
						<img src="img/logo.png" alt="Dezquare" />
					</a>
				</h1>
				
				<div id="profile-menu">
					<a href="profile.html" class="base">Profile</a>
					<div class="expanded">
						<a href="settings.html">Settings</a>
						<a href="index.html" class="last">Logout</a>
					</div>
				</div>
			</div>
		</div>
		
		<div id="content">
			<div class="page-content">
				<div id="cover">
					<div id="cover-image">
						<img src="img/temp/cover-image.jpg" alt="My Cover Image" />
						<input type="file" id="upload-cover-image" />
					</div>
					<div id="profile-bar" class="clearfix">
						<div id="profile-photo">
							<img src="img/temp/profile-photo.jpg" alt="My Profile Photo" />
							<input type="file" id="upload-profile-image" />
						</div>
						<h2 id="profile-name">Axl Rose</h2>
						<div id="profile-status">
							<div class="current">
								<span class="available">Available</span>
							</div>
							<div class="edit">
								<span class="available">Available</span> / <span class="unavailable">Unavailable</span>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<a href="#" class="orange-button" id="got-new-client">Got a new client?</a>
					<div class="title">
						<a href="latest-designs.html">Latest Designs</a>
					</div>
					<div class="latest-designs">
						<div class="design">
							<div class="col1">
								<div class="name">
									<a href="latest-designs.html">Google logo</a>
								</div>
								<div class="by">for <span>David Bowie</span></div>
								<div class="started">Started: 20 MAY</div>
								<div class="status">Status: Open</div>
							</div>
							<div class="col2">
								<a href="#" class="sidebar-mark-complete">Mark<br/>Complete!</a>
								<div class="completed hidden">
									<img src="img/bkg-checked-2.png" /><br/>
									Completed
								</div>
							</div>
						</div>
						<div class="design">
							<div class="col1">
								<div class="name">
									<a href="latest-designs.html">Google logo</a>
								</div>
								<div class="by">for <span>David Bowie</span></div>
								<div class="started">Started: 20 MAY</div>
								<div class="status">Status: Open</div>
							</div>
							<div class="col2">
								<a href="#" class="sidebar-mark-complete">Mark<br/>Complete!</a>
								<div class="completed hidden">
									<img src="img/bkg-checked-2.png" /><br/>
									Completed
								</div>
							</div>
						</div>
						<div class="design last">
							<div class="col1">
								<div class="name">
									<a href="latest-designs.html">Google logo</a>
								</div>
								<div class="by">for <span>David Bowie</span></div>
								<div class="started">Started: 20 MAY</div>
								<div class="status">Status: Open</div>
							</div>
							<div class="col2">
								<div class="completed">
									<img src="img/bkg-checked-2.png" /><br/>
									Completed
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="main">
					<div class="white-band-title">
						<h3>You've Got Matched!</h3>
					</div>
					<div id="match-projects" class="white-box">
						<div class="project">
							<div class="basic">
								<div class="icon">
									<img src="img/icons/background-image.png" />
								</div>
								<div class="name-and-client">
									<div class="name">Design Project Title</div>
									<div class="client">Client's Full Name</div>
								</div>
								<div class="action">
									<a href="#" class="black-button esmall-font accept-design">Accept</a>
									<a href="#" class="decline">Decline</a>
								</div>
							</div>
							<div class="detailed">
								<div class="col1">
									<div class="title">About the desired Flyer</div>
									<div class="about-project">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur magna ipsum, congue eget tincidunt nec, ultricies sed ligula. Fusce accumsan ante et erat rhoncus ultrices. Morbi posuere adipiscing cursus. Integer sit amet quam ac urna rhoncus feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lobortis sodales lobortis. Aenean iaculis feugiat tortor et imperdiet. Sed convallis eros vel ante aliquam vitae pulvinar arcu ullamcorper. Sed ac eros nec enim ultrices dapibus. Aenean quis lorem sapien, vitae mollis magna. Nulla viverra tortor quis lectus vestibulum id convallis enim interdum.
									</div>
									<a href="mailto:client@dot.com" class="contact">
										<span class="icon"></span>
										<span class="text">Contact client</span>
									</a>
								</div>
								<div class="col2">
									<div class="title">Designs Liked by Full Name</div>
									<div class="designs">
										<div class="design">
											<img src="img/temp/project-photo.jpg" />
										</div>
										<div class="design">
											<img src="img/temp/project-photo.jpg" />
										</div>
										<div class="design last">
											<img src="img/temp/project-photo.jpg" />
										</div>
									</div>
									<div class="taste-indicators">
										<div class="title">Full Name Taste Indicators</div>
										<ul>
											<li>* Colorful (Color Palette)</li>
											<li>* Urban (Style)</li>
											<li>* Realistic (Image)</li>
											<li>* Minimalistic</li>
											<li>* Geometric Shapes</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="last-row">
								<div class="col1">
									<div class="payment">Payment: $100</div>
								</div>
								<div class="col2">
									<div class="date">21:07, 27 MAY 2012</div>
								</div>
							</div>
						</div>
						
						<div class="project">
							<div class="basic">
								<div class="icon">
									<img src="img/icons/background-image.png" />
								</div>
								<div class="name-and-client">
									<div class="name">Design Project Title</div>
									<div class="client">Client's Full Name</div>
								</div>
							</div>
							<div class="detailed">
								<div class="col1">
									<div class="already-requested">You've requested the taste for this customer</div>
									<div class="taste-indicators">
										<div class="title">Full Name Taste Indicators</div>
										<ul>
											<li>* Colorful (Color Palette)</li>
											<li>* Urban (Style)</li>
											<li>* Realistic (Image)</li>
											<li>* Minimalistic</li>
											<li>* Geometric Shapes</li>
										</ul>
									</div>
								</div>
								<div class="col2">
									<div class="title">Designs Liked by Full Name</div>
									<div class="designs">
										<div class="design">
											<img src="img/temp/project-photo.jpg" />
										</div>
										<div class="design">
											<img src="img/temp/project-photo.jpg" />
										</div>
										<div class="design last">
											<img src="img/temp/project-photo.jpg" />
										</div>
									</div>
								</div>
							</div>
							<div class="last-row">
								<div class="col1">
									<a href="mailto:client@dot.com" class="contact">
										<span class="icon"></span>
										<span class="text">Contact client</span>
									</a>
								</div>
								<div class="col2">
									<div class="date">21:07, 27 MAY 2012</div>
								</div>
							</div>
						</div>
						
						<div class="project">
							<div class="basic">
								<div class="icon">
									<img src="img/icons/background-image.png" />
								</div>
								<div class="name-and-client">
									<div class="name">Design Project Title</div>
									<div class="client">Client's Full Name</div>
								</div>
								<div class="rejected">
									Too bad, [Designer name] already accepted the project
								</div>
							</div>
							<div class="detailed">
								<div class="col1">
									<div class="title">About the desired Flyer</div>
									<div class="about-project">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur magna ipsum, congue eget tincidunt nec, ultricies sed ligula. Fusce accumsan ante et erat rhoncus ultrices. Morbi posuere adipiscing cursus. Integer sit amet quam ac urna rhoncus feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lobortis sodales lobortis. Aenean iaculis feugiat tortor et imperdiet. Sed convallis eros vel ante aliquam vitae pulvinar arcu ullamcorper. Sed ac eros nec enim ultrices dapibus. Aenean quis lorem sapien, vitae mollis magna. Nulla viverra tortor quis lectus vestibulum id convallis enim interdum.
									</div>
									<a class="contact disabled">
										<span class="icon"></span>
										<span class="text">Contact client</span>
									</a>
								</div>
								<div class="col2">
									<div class="title">Designs Liked by Full Name</div>
									<div class="designs">
										<div class="design">
											<img src="img/temp/project-photo.jpg" />
										</div>
										<div class="design">
											<img src="img/temp/project-photo.jpg" />
										</div>
										<div class="design last">
											<img src="img/temp/project-photo.jpg" />
										</div>
									</div>
									<div class="taste-indicators">
										<div class="title">Full Name Taste Indicators</div>
										<ul>
											<li>* Colorful (Color Palette)</li>
											<li>* Urban (Style)</li>
											<li>* Realistic (Image)</li>
											<li>* Minimalistic</li>
											<li>* Geometric Shapes</li>
										</ul>
									</div>
									
								</div>
							</div>
							<div class="last-row">
								<div class="col1">
									<div class="payment">Payment: $100</div>
								</div>
								<div class="col2">
									<div class="date">21:07, 27 MAY 2012</div>
								</div>
							</div>
						</div>
						
						<a href="#" id="dashboard-load-more" class="black-button small-font load-more">
							<span>Show me more</span>
						</a>
					</div>
				</div>
			</div>			
		</div>
	</div>
	
	<div id="footer">
		<div class="page-content">
			<div id="copyright">&copy;dèzquare 2012</div>
			<div id="footer-links">
				<a href="about.html">About</a>
				<span>|</span>
				<a href="privacy.html">Privacy Policy</a>
				<span>|</span>
				<a href="terms.html">Terms of Use</a>
			</div>
		</div>
	</div>
	
	<div id="window-overlay"></div>
	<div id="mark-complete-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Have you completed the design?</div>
			<div class="subtitle">
				Before you mark the job as - "complete", <br/>
				make sure that your client think so too.
			</div>
			<div class="dont-ask clearfix">
				<span class="checkbox">
					<input type="checkbox" name="dont-ask" />
				</span>
				<span class="text">Don't ask me again</span>
			</div>
			<a href="#" class="black-button small-font">Mark Complete</a>
		</div>		
	</div>
	
	<div id="new-client-popup" class="popup">
		<div class="popup-content">
			<div class="title">Got new clients? </div>
			<div class="subtitle">Find out what they like!</div>
			<div class="desc">
				Send your customer an invitation to play our "Taste game"<br/>
				and get your customer's taste mapped instintly.
			</div>
			<form action="#">
				<div class="form-row pr-title">
					<label>Title:</label>
					<div class="formfield">
						<input type="text" name="title" class="text" />
						<label class="form-error">Invalid title</label>
					</div>
				</div>
				<div class="form-row pr-type">
					<label>Add a Product Type:</label>
					<div class="formfield">
						<div class="combobox ">
							<input type="hidden" name="product-type" value="" />
							<div class="value">Background Image</div>
							<div class="list">
								<div class="option">Background Image</div>
								<div class="option">Business Card</div>
								<div class="option">Facebook Cover Image</div>
								<div class="option">Infographic</div>
								<div class="option">Laptop Sticker</div>
								<div class="option">Logo</div>
								<div class="option">Mobile Sticker</div>
								<div class="option">Paper Design</div>
								<div class="option">Personal Card</div>
								<div class="option">Photo Image Fix</div>
								<div class="option">Presentation design</div>
								<div class="option">T-Shirt</div>
								<div class="option">Tattoo</div>
								<div class="option">Visual status</div>
							</div>
						</div>
					</div>
				</div>
				<div class="separator">Client's contact details:</div>
				<div class="form-row pr-basic">
					<label>First Name:</label>
					<div class="formfield">
						<input type="text" name="first-name" class="text" />
						<label class="form-error">Invalid first name</label>
					</div>
				</div>
				<div class="form-row pr-basic">
					<label>Last Name:</label>
					<div class="formfield">
						<input type="text" name="last-name" class="text" />
						<label class="form-error">Invalid last name</label>
					</div>
				</div>
				<div class="form-row pr-basic">
					<label>Email:</label>
					<div class="formfield">
						<input type="text" name="email" class="text" />
						<label class="form-error">Invalid email</label>
					</div>
				</div>
				<div class="buttons clearfix">
					<input type="submit" class="button-orange" value="Submit" id="nc-submit" />
					<a href="#" class="cancel">Cancel</a>
				</div>
			</form>
		</div>		
	</div>
	
	<div id="new-client-success-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Invitation sent!</div>
			<div class="desc">
				An invitation to take the "taste maping" game was sent to your client.<br/>
				Sit back and relax while we map your clients taste
			</div>
		</div>		
	</div>
	
	<div id="accept-project-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">You’ve got it!</div>
			<div class="subtitle">
				Take your time to learn your customer’s taste<br/>
				and contact your customer with any questions and updates.
			</div>
			<div class="desc">We can’t wait to see your work!</div>
			<a href="mailto:test@mail.com" class="black-button small-font">Contact Customer</a>
		</div>		
	</div>
	
	<div id="reject-project-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Are you sure?</div>
			<div class="desc">
				Declining an invitation is an irreversable action.<br/>
				This project might be easier than you think!<br/>
				<span>Give your client a chance</span>
			</div>
			<a href="mailto:test@mail.com" class="black-button small-font">Contact Client</a>
			<a href="#" class="decline-anyway">decline anyway</a>
		</div>		
	</div>
	
</body>
</html>