
		
		<div id="content">
			<div class="page-content">

				<div class="center-wrap">
					<h2>Edit Portfolio</h2>
					<div class="center-wrap-box edit-photo-form">
						<form action="" class="clearfix">
							
							<div class="photo">
								<div class="image">
									<img src="img/temp/edit-photo.jpg" />
								</div>
								<input type="file" id="upload-file" name="photo" />
							</div>
							
							<div class="image-details">
								<div class="form-row edit-image-title clearfix">
									<label class="font">Title:</label>
									<div class="formfield">
										<input type="text" class="text" name="title" />
										<label class="abs">Add title to your design</label>
										<label class="form-error">Invalid title</label>
									</div>
								</div>
								<div class="form-row edit-image-type">
									<label class="font">Add a product type:</label>
									<div class="combobox day">
										<input type="hidden" name="product-type" value="" />
										<div class="value">Background Image</div>
										<div class="list">
											<div class="option">Background Image</div>
											<div class="option">Business Card</div>
											<div class="option">Facebook Cover Image</div>
											<div class="option">Infographic</div>
											<div class="option">Laptop Sticker</div>
											<div class="option">Logo</div>
											<div class="option">Mobile Sticker</div>
											<div class="option">Paper Design</div>
											<div class="option">Personal Card</div>
											<div class="option">Photo Image Fix</div>
											<div class="option">Presentation design</div>
											<div class="option">T-Shirt</div>
											<div class="option">Tattoo</div>
											<div class="option">Visual status</div>
										</div>
									</div>
								</div>
								<div class="form-row add-indecators">
									<label class="font">Add Design Indicators:</label>
								</div>
								<div class="form-row">
									<div class="tags clearfix">
										<div class="col">										
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Realistic (Image)" />
												</span>
												<span class="text">Realistic (Image)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Abstract (Image)" />
												</span>
												<span class="text">Abstract (Image)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Vectoric (Image)" />
												</span>
												<span class="text">Vectoric (Image)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Cartoon (Image)" />
												</span>
												<span class="text">Cartoon (Image)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="3D (Image)" />
												</span>
												<span class="text">3D (Image)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Geometric Shapes (Image)" />
												</span>
												<span class="text">Geometric Shapes (Image)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="B&amp;W (Colors)" />
												</span>
												<span class="text">B&amp;W (Colors)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Greyscale (Colors)" />
												</span>
												<span class="text">Greyscale (Colors)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Colorful (Colors)" />
												</span>
												<span class="text">Colorful (Colors)</span>
											</div>
										</div>
										<div class="col">
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Monochrom (Colors)" />
												</span>
												<span class="text">Monochrom (Colors)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Colored Background" />
												</span>
												<span class="text">Colored Background</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Black Background" />
												</span>
												<span class="text">Black Background</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="White Background" />
												</span>
												<span class="text">White Background</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Gradient Background" />
												</span>
												<span class="text">Gradient Background</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Large Fonts (Text)" />
												</span>
												<span class="text">Large Fonts (Text)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Medium Fonts (Text)" />
												</span>
												<span class="text">Medium Fonts (Text)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Small Fonts (Text)" />
												</span>
												<span class="text">Small Fonts (Text)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Only Text (Text)" />
												</span>
												<span class="text">Only Text (Text)</span>
											</div>
										</div>
										<div class="col">
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Graffiti (Text)" />
												</span>
												<span class="text">Graffiti (Text)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Urban (Style)" />
												</span>
												<span class="text">Urban (Style)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Funk (Style)" />
												</span>
												<span class="text">Funk (Style)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Romantic (Style)" />
												</span>
												<span class="text">Romantic (Style)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Minimalistic (Style)" />
												</span>
												<span class="text">Minimalistic (Style)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Noisy (Style)" />
												</span>
												<span class="text">Noisy (Style)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Children (Style)" />
												</span>
												<span class="text">Children (Style)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Serious (Style)" />
												</span>
												<span class="text">Serious (Style)</span>
											</div>
											<div class="tag">
												<span class="checkbox">
													<input type="checkbox" name="tags" value="Fresh (Style)" />
												</span>
												<span class="text">Fresh (Style)</span>
											</div>
										</div>
									</div>
									<div class="other-tags">
										<label class="other">Other</label>
										<span class="checkbox">
											<input type="checkbox" name="tags-other" value="yes" />
										</span>
										<input type="text" class="text" name="tags-other-value" />
										<label class="form-error">Please select at least one tag</label>
									</div>									
								</div>
								<div class="form-row product-type-area">
									<label class="font">Add a product type:</label>
									<div class="formfield">
										<label class="abs">You can write here about your creative process, customer needs or any other<br/>interesting information regarding this design</label>
										<textarea name="product-type"></textarea>
										<label class="form-error">Password does not match</label>
									</div>
								</div>
								<input type="submit" class="button-orange" value="Save &amp; Upload another design" id="submit-photo" />
								<div class="just-upload-holder">
									<a href="profile.html" class="just-upload">Just upload this design</a>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>			
		</div>
	</div>
	
	