<!-- <section id="image-grid">
	<article class="image-item item-w2-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/1.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h2">
		<a href="#">
			<img src="/newver/img/temp/grid/2.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/3.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/4.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/5.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h2">
		<a href="#">
			<img src="/newver/img/temp/grid/6.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/7.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/8.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h2">
		<a href="#">
			<img src="/newver/img/temp/grid/9.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w3-h2">
		<a href="#">
			<img src="/newver/img/temp/grid/10.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/11.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w3-h2">
		<a href="#">
			<img src="/newver/img/temp/grid/12.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w1-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/13.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h2">
		<a href="#">
			<img src="/newver/img/temp/grid/14.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/15.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w3-h2">
		<a href="#">
			<img src="/newver/img/temp/grid/10.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/11.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w3-h2">
		<a href="#">
			<img src="/newver/img/temp/grid/12.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w1-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/13.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w2-h2">
		<a href="#">
			<img src="/newver/img/temp/grid/14.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w1-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/13.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
	<article class="image-item item-w1-h1">
		<a href="#">
			<img src="/newver/img/temp/grid/13.jpg" />
			<span class="photo-info">
				<span class="name">Designer Full Name</span>
				<span class="title">Image or Content full title</span>
				<span class="heart"></span>
			</span>
		</a>
	</article>
</section> -->