		<div id="content">
			<div class="page-content">
				<div id="cover">
					<div id="cover">
						<div id="cover-image">
							<img src="img/temp/cover-image.jpg" alt="My Cover Image" />
							<input type="file" id="upload-cover-image" />
						</div>
						<div id="profile-bar" class="clearfix">
							<div id="profile-photo">
								<img src="img/temp/profile-photo.jpg" alt="My Profile Photo" />
								<input type="file" id="upload-profile-image" />
							</div>
							<h2 id="profile-name">Axl Rose</h2>
							<div id="profile-status">
								<div class="current">
									<span class="available">Available</span>
								</div>
								<div class="edit">
									<span class="available">Available</span> / <span class="unavailable">Unavailable</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="title">
						Summary:
						<a href="settings.html" class="edit">
							<img src="img/pen.png" alt="Edit" />
						</a>
					</div>
					<div class="sidebar-white-box">
						<div id="sidebar-summary">
							<div class="row">
								<div class="col1">Age:</div>
								<div class="col2">23</div>
							</div>
							<div class="row">
								<div class="col1">From:</div>
								<div class="col2">Tel-Aviv<span>,</span> Israel</div>
							</div>
							<div class="row">
								<div class="col1">Languages:</div>
								<div class="col2">English <span>&amp;</span> Hebrew</div>
							</div>
						</div>
					</div>
					<div class="title">
						About Axl:
						<a href="settings.html" class="edit">
							<img src="img/pen.png" alt="Edit" />
						</a>
					</div>
					<div class="sidebar-white-box">
						Lorem Ipsum er rett og slett dummytekst fra og for trykkeindustrien. Lorem Ipsum har vrt bransjens standard for dummytekst helt siden 1500-tallet, da en ukjent boktrykker stokket en mengde bokstaver for lage et prveeksemplar av en bok. Lorem Ipsum har tlt tidens tann usedvanlig godt, og har i tillegg til best gjennom fem rhundrer ogs tlt spranget over til elektronisk typografi uten vesentlige endringer.
					</div>
					
					<div class="sidebar-white-box">
						<div>
							<a href="http://www.facebook.com/sharer/sharer.php?u=http://dezquare.andreiserban.com/profile.html" target="_blank">Share this profile on Facebook &raquo;</a>
						</div>
						<div>
							<a href="https://twitter.com/intent/tweet?url=http://dezquare.andreiserban.com/profile.html&text=Hey! Check this:" target="_blank">Share this profile on Twitter &raquo;</a>
						</div>
						<div>
							<a href="#">Report profile &raquo;</a>
						</div>
					</div>
				</div>
				<div id="main">
					<div class="white-band-title two-cols">
						<h3>
							Full Portfolio
							<a href="settings.html" class="edit">
								<img src="img/pen.png" alt="Edit" />
							</a>
						</h3>
						<!--
						<div class="col2 filter">
							<a href="#">All</a>
							<span>|</span>
							<a href="#">by Product</a>
							<span>|</span>
							<a href="#">by Date</a>
						</div>
						-->
					</div>
					<div id="designer-samples" class="full-portfolio">
						<a href="edit-photo.html" class="sample upload-image">
							<img src="img/bkg-upload-photo.png" alt="Upload Image" />
							<span>Upload new designs</span>
						</a>
						<a href="enlarged-view.html" class="sample">
							<img src="img/temp/sample2.jpg" alt="Sample 2" />
						</a>
						<a href="enlarged-view.html" class="sample last">
							<img src="img/temp/sample3.jpg" alt="Sample 3" />
						</a>
						<a href="enlarged-view.html" class="sample">
							<img src="img/temp/sample3.jpg" alt="Sample 4" />
						</a>
						<a href="enlarged-view.html" class="sample">
							<img src="img/temp/sample1.jpg" alt="Sample 2" />
						</a>
						<a href="enlarged-view.html" class="sample last">
							<img src="img/temp/sample2.jpg" alt="Sample 3" />
						</a>
						<a href="enlarged-view.html" class="sample">
							<img src="img/temp/sample4.jpg" alt="Sample 1" />
						</a>
						<a href="enlarged-view.html" class="sample">
							<img src="img/temp/sample2.jpg" alt="Sample 2" />
						</a>
						<a href="enlarged-view.html" class="sample last">
							<img src="img/temp/sample3.jpg" alt="Sample 3" />
						</a>
						<a href="enlarged-view.html" class="sample">
							<img src="img/temp/sample1.jpg" alt="Sample 4" />
						</a>
						<a href="enlarged-view.html" class="sample">
							<img src="img/temp/sample3.jpg" alt="Sample 2" />
						</a>
						<a href="enlarged-view.html" class="sample last">
							<img src="img/temp/sample2.jpg" alt="Sample 3" />
						</a>
						<a href="enlarged-view.html" class="sample">
							<img src="img/temp/sample4.jpg" alt="Sample 1" />
						</a>
						<a href="enlarged-view.html" class="sample">
							<img src="img/temp/sample2.jpg" alt="Sample 2" />
						</a>
						<a href="enlarged-view.html" class="sample last">
							<img src="img/temp/sample3.jpg" alt="Sample 3" />
						</a>
					</div>
					<!--
					<div class="see-all-holder">
						<a href="#">See all &raquo;</a>
					</div>
					-->
				</div>
			</div>			
		</div>
	</div>
	
	
	
	<div id="window-overlay"></div>
	<div id="mark-complete-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Have you completed the design?</div>
			<div class="subtitle">
				Before you mark the job as - "complete", <br/>
				make sure that your client think so too.
			</div>
			<div class="dont-ask clearfix">
				<span class="checkbox">
					<input type="checkbox" name="dont-ask" />
				</span>
				<span class="text">Don't ask me again</span>
			</div>
			<a href="#" class="black-button small-font">Mark Complete</a>
		</div>		
	</div>
	