
		<div id="content">
			<div class="page-content">
				<div id="cover">
					<div id="cover-image">
						<img src="img/temp/cover-image.jpg" alt="My Cover Image" />
					</div>
					<div id="profile-bar" class="clearfix">
						<div id="profile-photo">
							<img src="img/temp/profile-photo.jpg" alt="My Profile Photo" />
						</div>
						<h2 id="profile-name">Axl Rose</h2>
						<div id="profile-status">
							<div class="current">
								<span class="available">Available</span>
							</div>
							<div class="edit">
								<span class="available">Available</span> / <span class="unavailable">Unavailable</span>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="title">Summary:</div>
					<div class="sidebar-white-box">
						<a href="settings.html">Give us the basics.</a>
					</div>
					<div class="title">About Axl:</div>
					<div class="sidebar-white-box">
						<a href="settings.html">Add a short bio.</a>
					</div>
					
					<div class="sidebar-white-box">
						<div>
							<a href="http://www.facebook.com/sharer/sharer.php?u=http://dezquare.andreiserban.com/profile.html" target="_blank">Share this profile on Facebook &raquo;</a>
						</div>
						<div>
							<a href="https://twitter.com/intent/tweet?url=http://dezquare.andreiserban.com/profile.html&text=Hey! Check this:" target="_blank">Share this profile on Twitter &raquo;</a>
						</div>
					</div>
				</div>
				<div id="main">
					<div class="white-band-title two-cols">
						<h3>Portfolio</h3>
						
					</div>
					<div id="designer-samples" class="full-portfolio">
						<a href="edit-photo.html" class="sample upload-image">
							<img src="img/bkg-upload-photo.png" alt="Upload Image" />
							<span>Upload new designs</span>
						</a>
					</div>
				</div>
			</div>			
		</div>
	</div>
	
	
	
	<div id="window-overlay"></div>
	<div id="mark-complete-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Have you completed the design?</div>
			<div class="subtitle">
				Before you mark the job as - "complete", <br/>
				make sure that your client think so too.
			</div>
			<div class="dont-ask clearfix">
				<span class="checkbox">
					<input type="checkbox" name="dont-ask" />
				</span>
				<span class="text">Don't ask me again</span>
			</div>
			<a href="#" class="black-button small-font">Mark Complete</a>
		</div>		
	</div>
	