<!DOCTYPE html>
<html>
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/main.css" media="screen" rel="stylesheet" type="text/css" > 
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.24.custom.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script></head>
<body>
	<div id="page">
		<div id="header">
			<div class="page-content clearfix">
				<h1 id="logo">
					<a href="dashboard.html">
						<img src="img/logo.png" alt="Dezquare" />
					</a>
				</h1>
				
				<div id="profile-menu">
					<a href="profile.html" class="base">Profile</a>
					<div class="expanded">
						<a href="settings.html">Settings</a>
						<a href="index.html" class="last">Logout</a>
					</div>
				</div>
			</div>
		</div>
		
		<div id="content">
			<div class="page-content">

				<div class="center-wrap">
					<h2>Settings</h2>
					<div class="center-wrap-box">
						<form action="#" class="settings-form">
							<h3>Profile Settings:</h3>
							<fieldset>
								<div class="col1">
									<h4>Summary:</h4>
									<div class="formfield clearfix birthday">
										<label>Birthday:</label>
										<div class="combobox day">
											<input type="hidden" name="day" value="" />
											<div class="value">Day</div>
											<div class="list">
												<div class="option">1</div>
												<div class="option">2</div>
												<div class="option">3</div>
												<div class="option">4</div>
												<div class="option">5</div>
												<div class="option">6</div>
												<div class="option">7</div>
												<div class="option">8</div>
												<div class="option">9</div>
												<div class="option">10</div>
												<div class="option">11</div>
												<div class="option">12</div>
												<div class="option">13</div>
												<div class="option">14</div>
												<div class="option">15</div>
												<div class="option">16</div>
												<div class="option">17</div>
												<div class="option">18</div>
												<div class="option">19</div>
												<div class="option">20</div>
												<div class="option">21</div>
												<div class="option">22</div>
												<div class="option">23</div>
												<div class="option">24</div>
												<div class="option">25</div>
												<div class="option">26</div>
												<div class="option">27</div>
												<div class="option">28</div>
												<div class="option">29</div>
												<div class="option">30</div>
												<div class="option">31</div>
											</div>
										</div>
										<div class="combobox month">
											<input type="hidden" name="month" value="" />
											<div class="value">Month</div>
											<div class="list">
												<div class="option">January</div>
												<div class="option">February</div>
												<div class="option">March</div>
												<div class="option">April</div>
												<div class="option">May</div>
												<div class="option">June</div>
												<div class="option">July</div>
												<div class="option">August</div>
												<div class="option">September</div>
												<div class="option">October</div>
												<div class="option">November</div>
												<div class="option">December</div>
											</div>
										</div>
										<div class="combobox year">
											<input type="hidden" name="year" value="" />
											<div class="value">Year</div>
											<div class="list">
													<div class="option">2012</div>
													<div class="option">2011</div>
													<div class="option">2010</div>
													<div class="option">2009</div>
													<div class="option">2008</div>
													<div class="option">2007</div>
													<div class="option">2006</div>
													<div class="option">2005</div>
													<div class="option">2004</div>
													<div class="option">2003</div>
													<div class="option">2002</div>
													<div class="option">2001</div>
													<div class="option">2000</div>
													<div class="option">1999</div>
													<div class="option">1998</div>
													<div class="option">1997</div>
													<div class="option">1996</div>
													<div class="option">1995</div>
													<div class="option">1994</div>
													<div class="option">1993</div>
													<div class="option">1992</div>
													<div class="option">1991</div>
													<div class="option">1990</div>
													<div class="option">1989</div>
													<div class="option">1988</div>
													<div class="option">1987</div>
													<div class="option">1986</div>
													<div class="option">1985</div>
													<div class="option">1984</div>
													<div class="option">1983</div>
													<div class="option">1982</div>
													<div class="option">1981</div>
													<div class="option">1980</div>
													<div class="option">1979</div>
													<div class="option">1978</div>
													<div class="option">1977</div>
													<div class="option">1976</div>
													<div class="option">1975</div>
													<div class="option">1974</div>
													<div class="option">1973</div>
													<div class="option">1972</div>
													<div class="option">1971</div>
													<div class="option">1970</div>
													<div class="option">1969</div>
													<div class="option">1968</div>
													<div class="option">1967</div>
													<div class="option">1966</div>
													<div class="option">1965</div>
													<div class="option">1964</div>
													<div class="option">1963</div>
													<div class="option">1962</div>
													<div class="option">1961</div>
													<div class="option">1960</div>
													<div class="option">1959</div>
													<div class="option">1958</div>
													<div class="option">1957</div>
													<div class="option">1956</div>
													<div class="option">1955</div>
													<div class="option">1954</div>
													<div class="option">1953</div>
												
											</div>
										</div>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="location" />
										<label class="abs">Location</label>
									</div>
									
									<div class="languages" id="settings-languages">
										<div class="formfield clearfix">
											<div class="combobox language">
												<input type="hidden" name="language[]" value="" />
												<div class="value">Add language</div>
												<div class="list">
													<div class="option">Afrikaans</div>
													<div class="option">Albanian</div>
													<div class="option">Arabic</div>
													<div class="option">Armenian</div>
													<div class="option">Azerbaijani</div>
													<div class="option">Basque</div>
													<div class="option">Belarusian</div>
													<div class="option">Bengali</div>
													<div class="option">Bulgarian</div>
													<div class="option">Catalan</div>
													<div class="option">Chinese</div>
													<div class="option">Croatian</div>
													<div class="option">Czech</div>
													<div class="option">Danish</div>
													<div class="option">Dutch</div>
													<div class="option">English</div>
													<div class="option">Estonian</div>
													<div class="option">Filipino</div>
													<div class="option">Finnish</div>
													<div class="option">French</div>
													<div class="option">Galician</div>
													<div class="option">Georgian</div>
													<div class="option">German</div>
													<div class="option">Greek</div>
													<div class="option">Gujarati</div>
													<div class="option">Haitian Creole</div>
													<div class="option">Hebrew</div>
													<div class="option">Hindi</div>
													<div class="option">Hungarian</div>
													<div class="option">Icelandic</div>
													<div class="option">Indonesian</div>
													<div class="option">Irish</div>
													<div class="option">Italian</div>
													<div class="option">Japanese</div>
													<div class="option">Kannada</div>
													<div class="option">Korean</div>
													<div class="option">Latin</div>
													<div class="option">Latvian</div>
													<div class="option">Lithuanian</div>
													<div class="option">Macedonian</div>
													<div class="option">Malay</div>
													<div class="option">Maltese</div>
													<div class="option">Norwegian</div>
													<div class="option">Persian</div>
													<div class="option">Polish</div>
													<div class="option">Portuguese</div>
													<div class="option">Romanian</div>
													<div class="option">Russian</div>
													<div class="option">Serbian</div>
													<div class="option">Slovak</div>
													<div class="option">Slovenian</div>
													<div class="option">Spanish</div>
													<div class="option">Swahili</div>
													<div class="option">Swedish</div>
													<div class="option">Tamil</div>
													<div class="option">Telugu</div>
													<div class="option">Thai</div>
													<div class="option">Turkish</div>
													<div class="option">Ukrainian</div>
													<div class="option">Urdu</div>
													<div class="option">Vietnamese</div>
													<div class="option">Welsh</div>
													<div class="option">Yiddish</div>
												</div>
											</div>
											<a href="#" class="button remove">
												<img src="img/bkg-close.png" alt="Remove" />
											</a>
											<a href="#" class="button add">
												<img src="img/icon-plus.png" alt="Add" />
											</a>
										</div>
									</div>
									
								</div>
								<div class="col2">
									<h4>About You:</h4>
									<div class="formfield">
										<textarea name="about-us"></textarea>
										<label class="abs wt">What would you like us to know about you?</label>
									</div>
								</div>
							</fieldset>
							
							<h3>Pricing levels Settings:</h3>
							<fieldset>
								<div id="pricing-levels-top">
									<h4>Products:</h4>
									<a href="#" class="show">
										Show 
										<img src="img/arrow-left-black.png" />
									</a>
									<a href="#" class="hide">
										Hide
										<img src="img/arrow-down.png" />
									</a>
								</div>
								<div id="pricing-levels-sliders">
									<div class="entity">
										<div class="entity-name">Facebook Cover Image</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-1"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Background Image</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-2"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Logo</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-3"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Papers Design</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-4"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Photo Image Fix</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-5"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Visual Status</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-6"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Personal Card</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-7"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Business Card</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-8"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Presentation Design</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-9"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">CV Infographic</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-10"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Tattoo</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-11"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">T-shirt</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-12"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Flyer</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-13"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Mobile Sticker</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-14"></div>
										</div>
									</div>
									<div class="entity">
										<div class="entity-name">Laptop Sticker</div>
										<div class="price-slider-holder">
											<div class="price-slider" id="price-15"></div>
										</div>
									</div>
								</div>
							</fieldset>
							
							<h3>Account Settings:</h3>
							<fieldset>
								<div class="col1">
									<h4>Account Details:</h4>
									<div class="formfield">
										<input type="text" class="text" name="first-name" />
										<label class="abs">First name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="last-name" />
										<label class="abs">Last name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="email" />
										<label class="abs">E-mail</label>
									</div>
									<h5>Privacy:</h5>
									<div class="agree clearfix">
										<span class="checkbox">
											<input type="hidden" name="public-1" />
										</span>
										<span class="text">Make my profile available to everyone.</span>
									</div>
									<div class="agree clearfix">
										<span class="checkbox">
											<input type="hidden" name="public-2" />
										</span>
										<span class="text">Make my profile available only to dezquare users.</span>
									</div>
								</div>
								<div class="col2">
									<h4>Change my password:</h4>
									<div class="formfield">
										<input type="password" class="text" name="old-password" />
										<label class="abs">Enter old password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="new-password" />
										<label class="abs">Choose a new password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="repeat-new-password" />
										<label class="abs">Re-enter new password</label>
									</div>
									<h5 class="has-circle">More Settings:</h5>
									<div class="agree clearfix">
										<span class="checkbox">
											<input type="hidden" name="suspend" />
										</span>
										<span class="text">Suspend my account</span>
									</div>
									<div class="agree clearfix">
										<span class="checkbox">
											<input type="hidden" name="delete" />
										</span>
										<span class="text">Completly delete my account</span>
									</div>
								</div>
							</fieldset>
							<div class="submit clearfix">
								<input type="submit" class="button-orange" value="Submit" />
								<a href="#" class="cancel">Cancel</a>
							</div>
						</form>
					</div>
				</div>
				
			</div>			
		</div>
	</div>
	
	<div id="footer">
		<div class="page-content">
			<div id="copyright">&copy;dèzquare 2012</div>
			<div id="footer-links">
				<a href="about.html">About</a>
				<span>|</span>
				<a href="privacy.html">Privacy Policy</a>
				<span>|</span>
				<a href="terms.html">Terms of Use</a>
			</div>
		</div>
	</div>
	
</body>
</html>