<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">
  body p {
	font-family: Verdana, Geneva, sans-serif;
}
  </style>
  <title>New Contact Form Message!</title>
  </head>
<body>
    <h2>The following message has been sent:</h2>
    <p>Name: <%= @message.name %> </p>
	<p>Email: <%= @message.email %> </p>
	<p>Subject: <%= @message.subject %></p>
	<p>Message: <%= @message.body %></p>
</body>
</html>








