
		<div id="content">
			<div class="wrap" id="slider">
				<!-- Slide 2 -->
				<div class="slide final-slide" id="dslide2">
					<div class="wrap">
						<div class="content clearfix">
							<div class="title">SWEET!</div>
							<div class="subtitle">Our team will contact you shortly.</div>
							<div class="message">
								In the mean-time<br/>
								relax and listen to<br/>
								some music.
							</div>
							<div class="link"></div>
							<div class="share-links">
								<a href="http://www.facebook.com/dezquare" target="_blank" class="facebook"></a>
								<a href="https://twitter.com/Dezquare" target="_blank" class="twitter"></a>
								<a href="http://gottaste.dezquare.com" target="_blank" class="tumblr"></a>
								<a href="mailto:info@dezquare.com" class="mail"></a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Slide 2 -->
			</div>
		</div>
