
		<div id="content">
			<div style="float: right;margin-right: 200px;color: red"><%=params[:error]%></div>
			<div class="wrap" id="slider">
				<!-- Slide 1 -->
				
				<div class="slide" id="dslide1">
					<div class="wrap">
						<div class="content clearfix">
							<div class="page-title">got taste?</div>
							<div class="page-subtitle">Find out now.</div>
							<form action="/pender/designer_success" method="post">
								<fieldset>
									<div class="formfield">
										<label>PORTFOLIO:</label>
										<div class="input">
											<input type="text" class="text" name="portfolio_link" />
											<label>Enter a link</label>
										</div>
									</div>
									<div class="formfield">
										<label>FIRST NAME:</label>
										<div class="input">
											<input type="text" class="text" name="name" />
											<label>Enter your First Name</label>
										</div>
									</div>
									<div class="formfield">
										<label>LAST NAME:</label>
										<div class="input">
											<input type="text" class="text" name="l_name" />
											<label>Enter your Last Name</label>
										</div>
									</div>
									<div class="formfield" style="margin-bottom: 0px; padding-bottom: 10px;">
										<label>YOUR EMAIL:</label>
										<div class="input">
											<input type="text" class="text" name="email" />
											<label>Enter your Email</label>
										</div>
									</div>
								</fieldset>								
							</form>							
							<div class="buttons-bar single-button">
								<div class="button-2">
									<a href="#" id="go-to-dslide2">INVITE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Slide 1 -->
			</div>
		</div>
		
