
	
	<div id="register-designer-popup" class="popup" <%= @state.nil? ? "" : "style='display:none'"%>>
		<div class="popup-content">
			<div class="title">Request an invite to dezquare!</div>
			<form action="/registrations/register_designer_success" method="post" id="register-designer-form">
				<div class="formfield">
					<input type="text" class="text" name="name" />
					<label class="abs">First Name</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid First Name</label>
				</div>
				<div class="formfield">
					<input type="text" class="text" name="l_name" />
					<label class="abs">Last Name</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid Last Name</label>
				</div>
				<div class="formfield">
					<input type="text" class="text" name="email" />
					<label class="abs">E-mail address</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid Email Address</label>
				</div>
				<div class="formfield">
					<input type="text" class="text" name="portfolio_link" />
					<label class="abs">Link to Portfolio</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid Link</label>
				</div>
				<div class="formfield clearfix agree">
					<span class="checkbox">
						<input type="checkbox" name="agree_tos" />
					</span>
					<span class="text">
						I agree to the <a href="/site/privacy" target="_blank">Privacy Policy</a> &amp; <a href="/site/terms" target="_blank">Terms of Service</a>.
					</span>
					<label class="form-error">Please agree to our terms and conditions</label>
				</div>
				<div class="submit clearfix">
					<input type="submit" class="button-orange" value="Send" />
				</div>		
			</form>
			<div class="foot">
				Already a member? <a href="/login" id="bottom-logink">Log in!</a>
			</div>
			<label class="form-error" <%= !@error.nil? ? "style='display:block'" : ""%>><%=@error%></label>
		</div>		
		
	</div>
	
	
	
