<section id="content-inside">
	<div id="register-designer-success">
			<div class="title">Excellent!</div>
			<div class="subtitle">We've got your request!</div>
			<div class="desc">
				Our team will analyze your work<br/>
				and let you know if you got in soon!
			</div>
			<div class="share">
				<div class="text">While you wait, join us on our social channels!</div>
				<div class="icons">
					<a href="#"><div class="facebook-ic" onclick="window.open('http://www.facebook.com/dezquare','_blank');"></div></a>
					<a href="#"><div class="twitter-ic" onclick="window.open('http://www.twitter.com/dscovered','_blank');"></div></a>
					<a href="#"><div class="blog-ic" onclick="window.open('http://blog.dscovered.com','_blank');"></div></a>
				</div>
			</div>
	</div>
</section> 