<section id="content-inside">
	<section class="sidebar-alt-screens">
					
		<section class="sidebar-alt-screen sidebar-register-screen" id="sidebar-register-classic" style="margin-top:-60px;">
			<section class="register-screen-content">
			<h2>Request an invite</h2>
			<div class="fixff">
			<div class="form-sub-head">Your Account</div>
			<form action="/registrations/register_designer_success" method="post" id="register-designer-form">
			
				<div class="formfield">
					<input type="text" class="text validation-normal" name="name" />
					<label class="abs">First Name</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid First Name</label>
				</div>
				<div class="formfield">
					<input type="text" class="text validation-normal" name="l_name" />
					<label class="abs">Last Name</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid Last Name</label>
				</div>
				<div class="formfield" >
					<input type="text" class="text validation-email" name="email" />
					<label class="abs">E-mail</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid Email Address</label>
				</div>
				<div class="formfield" style="margin-top: 1px;">
					<input type="text" class="text validation-normal" name="heard_about_us" />
					<label class="abs">How did you hear about dezquare?</label>
					<span class="vchecked"></span>
				</div>
				<div class="form-sub-head">Your Work</div>
				<div class="formfield">
					<input type="text" class="text validation-email" name="portfolio_link" />
					<label class="abs">Link to your portfolio</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid Link</label>
				</div>
				<div class="formfield clearfix agree">
					<span class="checkbox">
						<input type="checkbox" name="agree_tos" />
					</span>
					<span class="text">
						I agree to the <a href="/site/privacy" target="_blank">Privacy Policy</a> &amp; <a href="/site/terms" target="_blank">Terms of Service</a>.
					</span>
					<label class="form-error">Please agree to our terms and conditions</label>
				</div>
				<div class="submit clearfix">
					<input type="submit" class="button-orange" value="Apply to join dezquare" />
				</div>		
			
			</form>
			</div>
			<div class="sidebar-bottom-note centered">
				Already have an account? <a href="/login" id="bottom-logink">Sign in!</a>
			</div>
			<% if @error.present? %>
				<label class="text" style="text-align: center; color: red;"><%=@error%></label>
			<%end%>		
		</section>
	
</section>
</section>
</section>
	
