
		
		<section id="landing">
			<img src="/newver/img/bkg-landing.jpg" class="default" />
			
			<section class="find-designer">
				
				<div class="dbl-lines first-line">
					<span class="middle-text">
						<span class="left">
							<span class="line-1"></span>
							<span class="line-2"></span>
						</span>
						Find a
						<span class="right">
							<span class="line-1"></span>
							<span class="line-2"></span>
						</span>
					</span>
				</div>
				
				<div class="position">Graphic designer</div>
				
				<div class="dbl-lines">
					<span class="middle-text">
						<span class="left">
							<span class="line-1"></span>
							<span class="line-2"></span>
						</span>
						based on
						<span class="right">
							<span class="line-1"></span>
							<span class="line-2"></span>
						</span>
					</span>
				</div>
				
				<div class="taste">your taste</div>
				
				<a href="/game/index/" class="button2 red">Find me a designer ></a>
				<a href="/home/how-it-works/" class="go-how-to">How does it work?</a>
				
			</section>
			
		</section>
		
	