<html dir="ltr" lang="en-US">
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link href="/newver/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
	
	<script type="text/javascript" src="/newver/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="/newver/js/landing.js"></script>
	<%=render "site/google_a"%>
</head>
<body>
	<section id="page">
		<header id="header" class="clearfix">
			<h1 id="logo">
				<a href="/home/index">
					<img src="/newver/img/logo.png" alt="Dezquare" width="172" height="42" />
				</a>
			</h1>
			<div class="square"></div>
			
			<div class="links">
				<a href="/site/register">Log in</a>
				<span class="separator">|</span>
				<a href="/designer_signup">Designer?</a>
			</div>
		</header>
		
		<section id="landing">
			<!-- <img src="/newver/img/landing_page_BG.jpg" class="default" style="top: -16%;" /> -->
			<!-- <img src="/newver/img/bkg-landing.jpg" class="animated" id="animated-image" /> -->
			<img src="/newver/img/OLDbkg-landing.jpg" class="default" />
			<img src="/newver/img/bkg-landing.jpg" class="animated" id="animated-image" />
			
			<section class="text">
				<h4>
					map your taste and get matched<br/> 
					within minutes to a graphic designer<br/> 
					you’ll love 
				</h4>
				
				<div class="buttons">
					<a href="/game/index/" class="yellow">match me a designer &gt;</a>
				</div>
			</section>
		</section>
		
	</section>
</body>
</html>