<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link href="/newver/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
	
	<script type="text/javascript" src="/newver/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="/newver/js/global.js"></script>
</head>
<body>

<section id="content-inside">

	<div id="register-designer-success">
			<div class="title">Excellent!</div>
			<div class="subtitle">We've got your request!</div>
			<div class="desc">
				Our team will analyze your work<br/>
				and let you know if you got in soon!
			</div>
			<div class="share">
				<div class="text">While you wait, join us on our social channels!</div>
				<div class="icons">
					<a href="#"><div class="facebook-ic" onclick="window.open('http://www.facebook.com/dezquare','_blank');"></div></a>
					<a href="#"><div class="twitter-ic" onclick="window.open('http://www.twitter.com/dezquare','_blank');"></div></a>
					<a href="#"><div class="blog-ic" onclick="window.open('http://blog.dezquare.com','_blank');"></div></a>
				</div>
			</div>
		</div>
</section>


</body>
</html>
