<%
home_link = "/site/index"
unless @user.nil? 
	if @user.shopper
		home_link = "/site/dashboard"
	elsif @user.designer
		home_link = "/designer/dashboard"
	else

	end
end

%>
			
<h1 id="logo">
	<a href="<%=home_link%>">
		<img src="/newver/img/logo.png" alt="Dezquare" /><span id="square" style="background: #fff22d; float: right; 
			margin-right: -15px; margin-top: -17px; height: 9px; width: 9px;"></span>
	</a>
	
</h1>