<!-- <section id="inside" style="margin-top:30px;">	 -->
<section id="content-inside"> 
	<section id="content" style="margin-top:70px;">
		<div class="huge-title">About Us</div>
		 <!-- <section id="profile-widgets">		  -->
			<section id="profile-table" style="width:1000px; position: absolute; left:0px; margin-top:30px;" >
	
				<div class="center-wrapxxx">
					
					<div class="about-us">
						
						<div class="sidebar-bottom-note">What is dscovered?</div>
						<p>dscovered is changing the game of graphic design services, by mapping your taste and matching you to a compatible graphic designer  by playing a quick game. </p>
						<div class="sidebar-bottom-note">Why "dscovered"?</div>
						<p>
							The name dscovered is a combination of the words - design and square. We used the letter - "z" instead of "s" in design to give it a fresh and urban vibe, and we chose the word - "Square" as a metaphor for a public square and its importance as the center of activity and events in a city. 
						</p>
						<div class="sidebar-bottom-note">How does it work?</div>
						<p>
							Finding the designer you’ll love at dscovered is easy as playing a "Hot or Not" game.<br/>
							We put an end to the endless browsing through portfolios and the uncertainty of selecting a bid or starting a design contest. Instead you play a short game. The game takes you quickly through designs and our smart algorithm maps your taste. With the analysis of your taste, we match you to a graphic designer that you’ll love and we provide the designer a thorough analysis of your "Likes" and taste. 
							You no longer need to search for examples or waste your time trying to explain to the designer the product you want.
						</p>
					</div>
				</div>	
		
			<!-- </section> -->
		</section>
	</section>
</section>
	
	
	