<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>dèzquare</title>
	<!--
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	-->
	<meta name="viewport" content="width=960" />
    <meta name="title" content="" />
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    
	<link rel="stylesheet" type="text/css" media="screen" href="css/fonts/fonts.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/jScrollPane.css" />
	
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="js/jquery.em.js"></script>
	<script type="text/javascript" src="js/jScrollPane.js"></script>
	<script type="text/javascript" src="js/jquery.uploadify-3.1.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body class="register-page">
	<div id="page">
		<div id="header-shadow">
			<div id="header">
				<div class="wrap clearfix">
					<h1 id="logo">
						<a href="#">dèzquare</a>
					</h1>
					<a id="ask" href="index.html">Design Buyer?</a>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="wrap" id="slider">
				<!-- Slide 1 -->
				<div class="slide" id="rslide1">
					<div class="wrap">
						<div class="content clearfix">
							<div class="page-title">Congrat's!</div>
							<div class="page-subtitle">You have what it takes to be a dèzquare designer.</div>
							<form action="#" method="post">
								<fieldset>
									<div class="formfield clearfix">
										<label>YOUR NAME:</label>
										<div class="input">
											<input type="text" class="text" name="name" />
											<label>Enter your Full Name</label>
										</div>
									</div>
									<div class="formfield clearfix">
										<label>AGE:</label>
										<div class="input">
											<input type="text" class="text" name="age" />
											<label>Enter your Age</label>
										</div>
									</div>
									<div class="formfield clearfix" style="z-index: 10;">
										<label>LOCATION:</label>
										<div class="selector" id="location-selector">
											<div class="value">Select Location</div>
											<div class="scroll">
												<div class="list">
													<ul>
														<li class="first" title="United States">United States</li>
														<li title="United Kingdom">United Kingdom</li>
														<li title="Afghanistan">Afghanistan</li>
														<li title="Albania">Albania</li>
														<li title="Algeria">Algeria</li>
														<li title="American Samoa">American Samoa</li>
														<li title="Andorra">Andorra</li>
														<li title="Angola">Angola</li>
														<li title="Anguilla">Anguilla</li>
														<li title="Antarctica">Antarctica</li>
														<li title="Antigua and Barbuda">Antigua and Barbuda</li>
														<li title="Argentina">Argentina</li>
														<li title="Armenia">Armenia</li>
														<li title="Aruba">Aruba</li>
														<li title="Australia">Australia</li>
														<li title="Austria">Austria</li>
														<li title="Azerbaijan">Azerbaijan</li>
														<li title="Bahamas">Bahamas</li>
														<li title="Bahrain">Bahrain</li>
														<li title="Bangladesh">Bangladesh</li>
														<li title="Barbados">Barbados</li>
														<li title="Belarus">Belarus</li>
														<li title="Belgium">Belgium</li>
														<li title="Belize">Belize</li>
														<li title="Benin">Benin</li>
														<li title="Bermuda">Bermuda</li>
														<li title="Bhutan">Bhutan</li>
														<li title="Bolivia">Bolivia</li>
														<li title="Bosnia and Herzegovina">Bosnia and Herze...</li>
														<li title="Botswana">Botswana</li>
														<li title="Bouvet Island">Bouvet Island</li>
														<li title="Brazil">Brazil</li>
														<li title="British Indian Ocean Territory">British Indian...</li>
														<li title="Brunei Darussalam">Brunei Darussalam</li>
														<li title="Bulgaria">Bulgaria</li>
														<li title="Burkina Faso">Burkina Faso</li>
														<li title="Burundi">Burundi</li>
														<li title="Cambodia">Cambodia</li>
														<li title="Cameroon">Cameroon</li>
														<li title="Canada">Canada</li>
														<li title="Cape Verde">Cape Verde</li>
														<li title="Cayman Islands">Cayman Islands</li>
														<li title="Central African Republic">Central African...</li>
														<li title="Chad">Chad</li>
														<li title="Chile">Chile</li>
														<li title="China">China</li>
														<li title="Christmas Island">Christmas Island</li>
														<li title="Cocos (Keeling) Islands">Cocos (Keeling)...</li>
														<li title="Colombia">Colombia</li>
														<li title="Comoros">Comoros</li>
														<li title="Congo">Congo</li>
														<li title="Congo, The Democratic Republic of The">Congo, The...</li>
														<li title="Cook Islands">Cook Islands</li>
														<li title="Costa Rica">Costa Rica</li>
														<li title="Cote D'ivoire">Cote D'ivoire</li>
														<li title="Croatia">Croatia</li>
														<li title="Cuba">Cuba</li>
														<li title="Cyprus">Cyprus</li>
														<li title="Czech Republic">Czech Republic</li>
														<li title="Denmark">Denmark</li>
														<li title="Djibouti">Djibouti</li>
														<li title="Dominica">Dominica</li>
														<li title="Dominican Republic">Dominican Republic</li>
														<li title="Ecuador">Ecuador</li>
														<li title="Egypt">Egypt</li>
														<li title="El Salvador">El Salvador</li>
														<li title="Equatorial Guinea">Equatorial Guinea</li>
														<li title="Eritrea">Eritrea</li>
														<li title="Estonia">Estonia</li>
														<li title="Ethiopia">Ethiopia</li>
														<li title="Falkland Islands (Malvinas)">Falkland Islands...</li>
														<li title="Faroe Islands">Faroe Islands</li>
														<li title="Fiji">Fiji</li>
														<li title="Finland">Finland</li>
														<li title="France">France</li>
														<li title="French Guiana">French Guiana</li>
														<li title="French Polynesia">French Polynesia</li>
														<li title="French Southern Territories">French Southern...</li>
														<li title="Gabon">Gabon</li>
														<li title="Gambia">Gambia</li>
														<li title="Georgia">Georgia</li>
														<li title="Germany">Germany</li>
														<li title="Ghana">Ghana</li>
														<li title="Gibraltar">Gibraltar</li>
														<li title="Greece">Greece</li>
														<li title="Greenland">Greenland</li>
														<li title="Grenada">Grenada</li>
														<li title="Guadeloupe">Guadeloupe</li>
														<li title="Guam">Guam</li>
														<li title="Guatemala">Guatemala</li>
														<li title="Guinea">Guinea</li>
														<li title="Guinea-bissau">Guinea-bissau</li>
														<li title="Guyana">Guyana</li>
														<li title="Haiti">Haiti</li>
														<li title="Heard Island and Mcdonald Islands">Heard Island...</li>
														<li title="Holy See (Vatican City State)">Holy See...</li>
														<li title="Honduras">Honduras</li>
														<li title="Hong Kong">Hong Kong</li>
														<li title="Hungary">Hungary</li>
														<li title="Iceland">Iceland</li>
														<li title="India">India</li>
														<li title="Indonesia">Indonesia</li>
														<li title="Iran, Islamic Republic of">Iran, Islamic...</li>
														<li title="Iraq">Iraq</li>
														<li title="Ireland">Ireland</li>
														<li title="Israel">Israel</li>
														<li title="Italy">Italy</li>
														<li title="Jamaica">Jamaica</li>
														<li title="Japan">Japan</li>
														<li title="Jordan">Jordan</li>
														<li title="Kazakhstan">Kazakhstan</li>
														<li title="Kenya">Kenya</li>
														<li title="Kiribati">Kiribati</li>
														<li title="Korea, Democratic People's Republic of">Korea, Democratic...</li>
														<li title="Korea, Republic of">Korea, Republic of</li>
														<li title="Kuwait">Kuwait</li>
														<li title="Kyrgyzstan">Kyrgyzstan</li>
														<li title="Lao People's Democratic Republic">Lao People's...</li>
														<li title="Latvia">Latvia</li>
														<li title="Lebanon">Lebanon</li>
														<li title="Lesotho">Lesotho</li>
														<li title="Liberia">Liberia</li>
														<li title="Libyan Arab Jamahiriya">Libyan Arab...</li>
														<li title="Liechtenstein">Liechtenstein</li>
														<li title="Lithuania">Lithuania</li>
														<li title="Luxembourg">Luxembourg</li>
														<li title="Macao">Macao</li>
														<li title="Macedonia, The Former Yugoslav Republic of">Macedonia, The...</li>
														<li title="Madagascar">Madagascar</li>
														<li title="Malawi">Malawi</li>
														<li title="Malaysia">Malaysia</li>
														<li title="Maldives">Maldives</li>
														<li title="Mali">Mali</li>
														<li title="Malta">Malta</li>
														<li title="Marshall Islands">Marshall Islands</li>
														<li title="Martinique">Martinique</li>
														<li title="Mauritania">Mauritania</li>
														<li title="Mauritius">Mauritius</li>
														<li title="Mayotte">Mayotte</li>
														<li title="Mexico">Mexico</li>
														<li title="Micronesia, Federated States of">Micronesia, Federated...</li>
														<li title="Moldova, Republic of">Moldova, Republic of</li>
														<li title="Monaco">Monaco</li>
														<li title="Mongolia">Mongolia</li>
														<li title="Montserrat">Montserrat</li>
														<li title="Morocco">Morocco</li>
														<li title="Mozambique">Mozambique</li>
														<li title="Myanmar">Myanmar</li>
														<li title="Namibia">Namibia</li>
														<li title="Nauru">Nauru</li>
														<li title="Nepal">Nepal</li>
														<li title="Netherlands">Netherlands</li>
														<li title="Netherlands Antilles">Netherlands Antilles</li>
														<li title="New Caledonia">New Caledonia</li>
														<li title="New Zealand">New Zealand</li>
														<li title="Nicaragua">Nicaragua</li>
														<li title="Niger">Niger</li>
														<li title="Nigeria">Nigeria</li>
														<li title="Niue">Niue</li>
														<li title="Norfolk Island">Norfolk Island</li>
														<li title="Northern Mariana Islands">Northern Mariana...</li>
														<li title="Norway">Norway</li>
														<li title="Oman">Oman</li>
														<li title="Pakistan">Pakistan</li>
														<li title="Palau">Palau</li>
														<li title="Palestinian Territory, Occupied">Palestinian Territory...</li>
														<li title="Panama">Panama</li>
														<li title="Papua New Guinea">Papua New Guinea</li>
														<li title="Paraguay">Paraguay</li>
														<li title="Peru">Peru</li>
														<li title="Philippines">Philippines</li>
														<li title="Pitcairn">Pitcairn</li>
														<li title="Poland">Poland</li>
														<li title="Portugal">Portugal</li>
														<li title="Puerto Rico">Puerto Rico</li>
														<li title="Qatar">Qatar</li>
														<li title="Reunion">Reunion</li>
														<li title="Romania">Romania</li>
														<li title="Russian Federation">Russian Federation</li>
														<li title="Rwanda">Rwanda</li>
														<li title="Saint Helena">Saint Helena</li>
														<li title="Saint Kitts and Nevis">Saint Kitts...</li>
														<li title="Saint Lucia">Saint Lucia</li>
														<li title="Saint Pierre and Miquelon">Saint Pierre...</li>
														<li title="Saint Vincent and The Grenadines">Saint Vincent...</li>
														<li title="Samoa">Samoa</li>
														<li title="San Marino">San Marino</li>
														<li title="Sao Tome and Principe">Sao Tome and Principe</li>
														<li title="Saudi Arabia">Saudi Arabia</li>
														<li title="Senegal">Senegal</li>
														<li title="Serbia and Montenegro">Serbia and Montenegro</li>
														<li title="Seychelles">Seychelles</li>
														<li title="Sierra Leone">Sierra Leone</li>
														<li title="Singapore">Singapore</li>
														<li title="Slovakia">Slovakia</li>
														<li title="Slovenia">Slovenia</li>
														<li title="Solomon Islands">Solomon Islands</li>
														<li title="Somalia">Somalia</li>
														<li title="South Africa">South Africa</li>
														<li title="South Georgia and The South Sandwich Islands">South Georgia..</li>
														<li title="Spain">Spain</li>
														<li title="Sri Lanka">Sri Lanka</li>
														<li title="Sudan">Sudan</li>
														<li title="Suriname">Suriname</li>
														<li title="Svalbard and Jan Mayen">Svalbard and...</li>
														<li title="Swaziland">Swaziland</li>
														<li title="Sweden">Sweden</li>
														<li title="Switzerland">Switzerland</li>
														<li title="Syrian Arab Republic">Syrian Arab Republic</li>
														<li title="Taiwan, Province of China">Taiwan, Province...</li>
														<li title="Tajikistan">Tajikistan</li>
														<li title="Tanzania, United Republic of">Tanzania, United...</li>
														<li title="Thailand">Thailand</li>
														<li title="Timor-leste">Timor-leste</li>
														<li title="Togo">Togo</li>
														<li title="Tokelau">Tokelau</li>
														<li title="Tonga">Tonga</li>
														<li title="Trinidad and Tobago">Trinidad and Tobago</li>
														<li title="Tunisia">Tunisia</li>
														<li title="Turkey">Turkey</li>
														<li title="Turkmenistan">Turkmenistan</li>
														<li title="Turks and Caicos Islands">Turks and Caicos...</li>
														<li title="Tuvalu">Tuvalu</li>
														<li title="Uganda">Uganda</li>
														<li title="Ukraine">Ukraine</li>
														<li title="United Arab Emirates">United Arab Emirates</li>
														<li title="United Kingdom">United Kingdom</li>
														<li title="United States">United States</li>
														<li title="United States Minor Outlying Islands">United States Minor...</li>
														<li title="Uruguay">Uruguay</li>
														<li title="Uzbekistan">Uzbekistan</li>
														<li title="Vanuatu">Vanuatu</li>
														<li title="Venezuela">Venezuela</li>
														<li title="Viet Nam">Viet Nam</li>
														<li title="Virgin Islands, British">Virgin Islands, British</li>
														<li title="Virgin Islands, U.S.">Virgin Islands, U.S.</li>
														<li title="Wallis and Futuna">Wallis and Futuna</li>
														<li title="Western Sahara">Western Sahara</li>
														<li title="Yemen">Yemen</li>
														<li title="Zambia">Zambia</li>
														<li class="last" title="Zimbabwe">Zimbabwe</li>
													</ul>
												</div>
											</div>											
										</div>
									</div>
									<div class="formfield clearfix" style="margin-bottom: 0px; padding-bottom: 15px; z-index: 7;">
										<label>LANGUAGES:</label>
										<div class="selector" id="language-selector">
											<div class="value">Select Language</div>
											<div class="scroll">
												<div class="list">
													<ul>
														<li class="first">
															<span class="checkbox"></span>
															<span class="text">Afrikaans</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Albanian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Arabic</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Armenian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Azerbaijani</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Basque</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Belarusian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Bengali</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Bulgarian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Catalan</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Chinese</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Croatian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Czech</span>
														</li>
														<li class="last">
															<span class="checkbox"></span>
															<span class="text">Danish</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Dutch</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">English</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Estonian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Filipino</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Finnish</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">French</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Galician</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Georgian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">German</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Greek</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Gujarati</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Haitian Creole</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Hebrew</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Hindi</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Hungarian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Icelandic</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Indonesian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Irish</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Italian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Japanese</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Kannada</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Korean</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Latin</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Latvian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Lithuanian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Macedonian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Malay</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Maltese</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Norwegian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Persian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Polish</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Portuguese</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Romanian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Russian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Serbian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Slovak</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Slovenian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Spanish</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Swahili</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Swedish</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Tamil</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Telugu</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Thai</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Turkish</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Ukrainian</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Urdu</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Vietnamese</span>
														</li>
														<li>
															<span class="checkbox"></span>
															<span class="text">Welsh</span>
														</li>
														<li class="last">
															<span class="checkbox"></span>
															<span class="text">Yiddish</span>
														</li>
														
													</ul>
												</div>											
											</div>
										</div>
									</div>
								</fieldset>
							</form>
							<div class="buttons-bar single-button">
								<div class="button-2">
									<a href="#" id="go-to-rslide2">GO</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Slide 1 -->
				
				<!-- Slide 2 -->
				<div class="slide" id="rslide2">
					<div class="wrap">
						<div class="content clearfix">
							<div class="page-title">Congrat's!</div>
							<div class="page-subtitle">You have what it takes to be a dèzquare designer.</div>
							<form action="#" method="post">
								<fieldset>
									<div class="formfield clearfix">
										<label>FLYER 1:</label>
										<div class="upload-input">
											<div class="inp">
												<input type="text" name="flyer-1" class="text" id="flyer-1" readonly="readonly" />
												<input type="file" name="flyer-1-file" class="file" id="flyer-1-file" />
											</div>
											<div class="button-4">
												<a href="#" id="flyer-1-upload">UPLOAD</a>
											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<!-- End Slide 2 -->
				
				<!-- Slide 3 -->
				<div class="slide" id="rslide3">
					<div class="wrap">
						<div class="content clearfix">
							<div class="page-title">Congrat's!</div>
							<div class="page-subtitle">You have what it takes to be a dèzquare designer.</div>
							<form action="#" method="post">
								<fieldset>
									<div class="formfield clearfix">
										<label>FLYER 2:</label>
										<div class="upload-input">
											<div class="inp">
												<input type="text" name="flyer-2" class="text" id="flyer-2" readonly="readonly" />
												<input type="file" name="flyer-2-file" class="file" id="flyer-2-file" />
											</div>
											<div class="button-4">
												<a href="#" id="flyer-2-upload">UPLOAD</a>
											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<!-- End Slide 3 -->
				
				<!-- Slide 4 -->
				<div class="slide final-slide" id="rslide4">
					<div class="wrap">
						<div class="content clearfix">
							<div class="title">SWEET!</div>
							<div class="subtitle">Your first match will be sent to you shortly.</div>
							<div class="message">
								In the mean-time<br/>
								relax and listen to<br/>
								some music.
							</div>
							<div class="link"></div>
							<div class="share-links">
								<a href="http://www.facebook.com/dezquare" target="_blank" class="facebook"></a>
								<a href="https://twitter.com/Dezquare" target="_blank" class="twitter"></a>
								<a href="http://gottaste.dezquare.com" target="_blank" class="tumblr"></a>
								<a href="mailto:info@dezquare.com" class="mail"></a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Slide 4 -->
			</div>
		</div>
		<div class="popup" id="tags-popup">
			<div class="popup-center">
				<span class="close-popup"></span>
				<div class="col1">
					<div class="frame"></div>
				</div>
				<div class="col2">
					<div class="icon"></div>
					<div class="title">Add tags to your design</div>
					<div class="select-tag-list">
						<div class="select-tag-list-inside">
							<ul>
								<li>
									<span class="checkbox"></span>
									<span class="text">Realistic (Image)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Abstract (Image)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Vectoric (Image)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Cartoon (Image)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">3D (Image)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Geometric Shapes (Image)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Black & White (Color palette)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Greyscale (Color palette)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Colorful(Color palette)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Monochrom (Color palette)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Colored (background color)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Black (background color)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">White (background color)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Gradient (background color)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Large fonts (Text)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Medium fonts (Text)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Small fonts (Text)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Only text (Text)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Graffiti (Text)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Urban (Style)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Funk (Style)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Romantic (Style)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Minimalistic (Style)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Noisy (Style)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Childish (Style)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Serious (Style)</span>
								</li>
								<li>
									<span class="checkbox"></span>
									<span class="text">Fresh (Style)</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="error-holder"></div>
					<div class="button-5">
						<a href="#" id="tags-popup-done">DONE</a>
					</div>
				</div>
			</div>
		</div>
		<div id="footer-shadow">
			<div id="footer">
				<div class="wrap">
					<div id="stages">
						<div class="stage active" id="stage1">
							<span class="icon"></span>
							<span class="big">YOU</span>
						</div>
						<div class="stage" id="stage2">
							<span class="icon"></span>
							<span class="big">PORTFOLIO</span>
						</div>
					</div>
					<div id="copyright">
						&copy;dèzquare 2012 <a href="terms.html">Terms &amp; Privacy Policy </a>
					</div>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>