<div id="public-holder">
	<div class="box-holder">
		<div class="page-content">
			<div class="box-home">
				<div class="title">WELCOME</div>
				<div class="description">Good design is happening everywhere.<br/>Get influanced. Get design.</div>
				<a href="/game/index/persona" class="button">START</a>
			</div>
		</div>
	</div>
	
	<ul id="background-transition">
		<li class="first displayed">
			<img src="/img/index_roller/Da'Monk_MNKCREW.jpg" width="110%"/>
			<div class="author">
				DA'MONK//
				<span>
					<a href="http://www.dezquare.com/designer/profile/54">MNK CREW</a>
				</span>
			</div>
		</li>
		<li>
			<img src="/img/index_roller/IMG_0221.jpg"  width="110%"/>
			<div class="author">
				TRICOTA BUSINESS CARDS//
				<span>
					<a href="http://www.dezquare.com/designer/profile/37">ESTUDIO TRICOTA</a>
				</span>
			</div>
		</li>
		<li>
			<img src="/img/index_roller/YoungGuitarist(hires).jpg"  width="110%"/>
			<div class="author">
				YOUNG GUITARIST//
				<span>
					<a href="http://www.dezquare.com/designer/profile/539">ERICA KEIM</a>
				</span>
			</div>
		</li>
		<li>
			<img src="/img/index_roller/schoolofrock.png"  width="110%"/>
			<div class="author">
				SCHOOL OF ROCK//
				<span>
					<a href="http://www.dezquare.com/designer/profile/17">TAYLOR MCCLURE</a>
				</span>
			</div>
		</li>
		
	</ul>
	
	<script type="text/javascript">
		var backgroundTransition, backgroundTransitionSlides;
		$(window).load(function() {
			backgroundTransition = $("#background-transition");
			backgroundTransitionSlides = backgroundTransition.children("li");
			backgroundTransitionSlides.css("opacity", "0");
			backgroundTransition.children("li.first").css("opacity", "1").removeClass("first");
			setTimeout("BackgroundSlide()", 2000);
		});
		function BackgroundSlide()
		{
			var currentSlide = backgroundTransition.children("li.displayed");
			var nextSlideIndex = currentSlide.index() + 1 >= backgroundTransitionSlides.length ? 0 : currentSlide.index() + 1;
			var nextSlide = backgroundTransitionSlides.eq(nextSlideIndex);
			
			currentSlide.animate({ "opacity": "0" }, 2000);
			nextSlide.animate({ "opacity": "1" }, 2000, function() {
				currentSlide.removeClass("displayed");
				nextSlide.addClass("displayed");
				setTimeout("BackgroundSlide()", 4000);
			});
		}
	</script>
</div>
