<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>dèzquare</title>
	<!--
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	-->
	<meta name="viewport" content="width=960" />
    <meta name="title" content="" />
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/fonts/fonts.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/main.css" />
	
	<script type="text/javascript" src="/assets/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/assets/main.js"></script>
</head>
<body class="loggedin-page">
	<div id="page">
		<div id="header-shadow">
			<div id="header">
				<div class="wrap clearfix">
					<h1 id="logo">
						<a href="loggedin.html" class="no-slide">dèzquare</a>
					</h1>
					<div id="key-holder">
						<a id="key" class="x" href="#"></a>
						<div id="login-form" class="user-menu">
							<a href="profile.html" class="profile">Profile</a>
							<a href="designer.html">Logout</a>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div id="content">
			<div class="wrap">
				<!-- Slide 1 -->
				<div class="slide" id="lslide1" style="left: 0px;">
					<div class="wrap">
						<div class="content clearfix">
							<div class="page-title">Howdy!</div>
							<div class="page-subtitle">Learn about your customer’s taste.</div>
							
							<div id="profile-pages">
								
								<div class="profile-page" id="page1">
									<div class="basic-info">
										<div class="name-and-email">
											<div class="name">FULL NAME</div>
											<div class="email">NAME@GMAIL.COM</div>
										</div>
										<div class="heart"></div>
										<div class="flyers user-flyers">
											<div class="flyer first">
												<a href="#">
													<img src="img/temp/36.jpg" />
												</a>
											</div>
											<div class="flyer">
												<a href="#">
													<img src="img/temp/31.jpg" />
												</a>
											</div>
										</div>
									</div>
									
									<div class="flyers-info">
										<div class="about">
											<div class="title">About the <span>desired</span> flyer</div>
											<div class="description">
												Lorem ipsum dolor sit amet, consectetur adip 
												iscing elit. Maecenas ornare libero quis urna 
												hendrerit ac accumsan neque suscipit orci aliquam.
											</div>
											<div class="read-more">
												<a href="#" id="show-read-more">Read more &gt;</a>
											</div>
										</div>
										<div class="flyer-tag-list">
											<div class="subtitle">Full Name taste</div>
											<ul class="tags">
												<li><a class="btn-delete"></a>Tag 1</li>
												<li><a class="btn-delete"></a>Tag 2</li>
												<li><a class="btn-delete"></a>Tag 3</li>
											</ul>
											<div class="view-more-holder">
												<div class="view-more-wrap">
													<a class="view-more" href="#">View more</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="profile-page" id="page2">
									<div class="basic-info">
										<div class="name-and-email">
											<div class="name">FULL NAME</div>
											<div class="email">NAME@GMAIL.COM</div>
										</div>
										<div class="heart"></div>
										<div class="flyers user-flyers">
											<div class="flyer first">
												<a href="#">
													<img src="/assets/temp/29.jpg" />
												</a>
											</div>
											<div class="flyer">
												<a href="#">
													<img src="/assets/temp/28.jpg" />
												</a>
											</div>
										</div>
									</div>
									
									<div class="flyers-info">
										<div class="about">
											<div class="title">About the <span>desired</span> flyer</div>
											<div class="description">
												Lorem ipsum dolor sit amet, consectetur adip 
												iscing elit. Maecenas ornare libero quis urna 
												hendrerit ac accumsan neque suscipit orci aliquam.
											</div>
											<div class="read-more">
												<a href="#">Read more &gt;</a>
											</div>
										</div>
										<div class="flyer-tag-list">
											<div class="subtitle">Full Name taste</div>
											<ul class="tags">
												<li><a class="btn-delete"></a>Tag 1</li>
												<li><a class="btn-delete"></a>Tag 2</li>
												<li><a class="btn-delete"></a>Tag 3</li>
											</ul>
											<div class="view-more-holder">
												<div class="view-more-wrap">
													<a class="view-more" href="#">View more</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="profile-page" id="page3">
									<div class="basic-info">
										<div class="name-and-email">
											<div class="name">FULL NAME</div>
											<div class="email">NAME@GMAIL.COM</div>
										</div>
										<div class="heart"></div>
										<div class="flyers user-flyers">
											<div class="flyer first">
												<a href="#">
													<img src="img/temp/18.jpg" />
												</a>
											</div>
											<div class="flyer">
												<a href="#">
													<img src="img/temp/25.jpg" />
												</a>
											</div>
										</div>
									</div>
									
									<div class="flyers-info">
										<div class="about">
											<div class="title">About the <span>desired</span> flyer</div>
											<div class="description">
												Lorem ipsum dolor sit amet, consectetur adip 
												iscing elit. Maecenas ornare libero quis urna 
												hendrerit ac accumsan neque suscipit orci aliquam.
											</div>
											<div class="read-more">
												<a href="#">Read more &gt;</a>
											</div>
										</div>
										<div class="flyer-tag-list">
											<div class="subtitle">Full Name taste</div>
											<ul class="tags">
												<li><a class="btn-delete"></a>Tag 1</li>
												<li><a class="btn-delete"></a>Tag 2</li>
												<li><a class="btn-delete"></a>Tag 3</li>
											</ul>
											<div class="view-more-holder">
												<div class="view-more-wrap">
													<a class="view-more" href="#">View more</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="profile-page" id="page4">
									<div class="basic-info">
										<div class="name-and-email">
											<div class="name">FULL NAME</div>
											<div class="email">NAME@GMAIL.COM</div>
										</div>
										<div class="heart"></div>
										<div class="flyers user-flyers">
											<div class="flyer first">
												<a href="#">
													<img src="/assets/temp/1.jpg" />
												</a>
											</div>
											<div class="flyer">
												<a href="#">
													<img src="/assets/temp/4.jpg" />
												</a>
											</div>
										</div>
									</div>
									
									<div class="flyers-info">
										<div class="about">
											<div class="title">About the <span>desired</span> flyer</div>
											<div class="description">
												Lorem ipsum dolor sit amet, consectetur adip 
												iscing elit. Maecenas ornare libero quis urna 
												hendrerit ac accumsan neque suscipit orci aliquam.
											</div>
											<div class="read-more">
												<a href="#">Read more &gt;</a>
											</div>
										</div>
										<div class="flyer-tag-list">
											<div class="subtitle">Full Name taste</div>
											<ul class="tags">
												<li><a class="btn-delete"></a>Tag 1</li>
												<li><a class="btn-delete"></a>Tag 2</li>
												<li><a class="btn-delete"></a>Tag 3</li>
											</ul>
											<div class="view-more-holder">
												<div class="view-more-wrap">
													<a class="view-more" href="#">View more</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
							<div id="nav-buttons">
								<a href="#page1" class="active">1</a>
								<a href="#page2">2</a>
								<a href="#page3">3</a>
								<a href="#page4" class="disabled">4</a>
							</div>
							
						</div>
					</div>
				</div>
				<!-- End Slide 1 -->
			</div>
		</div>
		
		<div class="popup" id="tags-popup">
			<div class="popup-center" style="margin-top: -450px;">
				<span class="close-popup"></span>
				<div class="col1">
					<div class="frame"></div>
				</div>
				<div class="col2">
					<div class="big-title">Designed By:<br/>Full Name</div>
					<div class="flyer-tag-list photo-tags">
						<div class="subtitle">This design is tagged as:</div>
						<ul class="tags">
							<li><a class="btn-delete"></a>Tag 1</li>
							<li><a class="btn-delete"></a>Tag 2</li>
							<li><a class="btn-delete"></a>Tag 3</li>
						</ul>
						<div class="view-more-holder">
							<div class="view-more-wrap">
								<a class="view-more" href="#">View more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="popup" id="read-more-popup" >
			<div class="popup-center" style="margin-top: -370px;">
				<span class="close-popup"></span>
				<div class="title">About the desired flyer</div>
				<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Maecenas ornare libero quis urna hendrerit ac accumsan neque suscipit orci aliquam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Maecenas ornare libero quis urna hendrerit ac accumsan neque suscipit orci aliquam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Maecenas ornare libero quis urna hendrerit ac accumsan neque suscipit orci aliquam.</p>
			</div>
		</div>
		
		<div id="footer-shadow" class="profile-footer">
			<div id="footer">
				<div class="wrap">
					<div id="stages">
						<div class="stage active" id="stage1">
							<span class="icon"></span>
							<span class="big">DESIGN BUYERS</span>
						</div>
						<div class="stage" id="stage2">
							<span class="icon"></span>
							<span class="big">YOU</span>
						</div>
					</div>
					<div id="copyright">
						&copy;dèzquare 2012 <a href="terms.html">Terms &amp; Privacy Policy </a>
					</div>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>