<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>dèzquare</title>
	<!--
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	-->
	<meta name="viewport" content="width=960" />
    <meta name="title" content="" />
    <meta name="description" content="" />
	<meta name="keywords" content="" />
    
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/fonts/fonts.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/main.css" />
	
	<script type="text/javascript" src="/assets/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/assets/main.js"></script>
</head>
<body class="loggedin-page">
	<div id="page">
		<div id="header-shadow">
			<div id="header">
				<div class="wrap clearfix">
					<h1 id="logo">
						<a href="loggedin.html" class="no-slide">dèzquare</a>
					</h1>
					<div id="key-holder">
						<a id="key" class="x" href="#"></a>
						<div id="login-form" class="user-menu">
							<a href="profile.html" class="profile">Profile</a>
							<a href="designer.html">Logout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="wrap">
				<!-- Slide 1 -->
				<div class="slide" id="lslide1">
					<div class="wrap">
						<div class="content clearfix">
							<div class="page-title">PROFILE</div>
							<div class="page-subtitle">All about you</div>
							
							<div id="profile-basic">
								<div class="info-list">
									<div class="labels">
										<span>YOUR NAME:</span>
										<span>AGE:</span>
										<span>LOCATION:</span>
										<span>LANGUAGES:</span>
									</div>
									<div class="data">
										<span>Full Name</span>
										<span>23</span>
										<span>Israel</span>
										<span>Hebrew, English, French</span>
									</div>
								</div>
								<div class="edit-buttons">
									<a href="info.html">EDIT INFO</a>
									<a href="portfolio.html">EDIT PORTFOLIO</a>
								</div>
							</div>
							<div id="profile-portfolio">
								<div class="title">Your Portfolio</div>
								<div class="flyer flyer1">
									<div class="photo">
										<img src="/assets/temp/29.jpg" />
									</div>
									<div class="flyer-tag-list">
										<div class="subtitle">You tagged this design as:</div>
										<ul class="tags">
											<li><a class="btn-delete"></a>Tag 1</li>
											<li><a class="btn-delete"></a>Tag 2</li>
											<li><a class="btn-delete"></a>Tag 3</li>
										</ul>
										<div class="view-more-holder">
											<div class="view-more-wrap">
												<a class="view-more" href="#">View more</a>
											</div>
										</div>
									</div>
								</div>
								<div class="flyer flyer2">
									<div class="photo">
										<img src="/assets/temp/31.jpg" />
									</div>
									<div class="flyer-tag-list">
										<div class="subtitle">You tagged this design as:</div>
										<ul class="tags">
											<li><a class="btn-delete"></a>Tag 1</li>
											<li><a class="btn-delete"></a>Tag 2</li>
											<li><a class="btn-delete"></a>Tag 3</li>
										</ul>
										<div class="view-more-holder">
											<div class="view-more-wrap">
												<a class="view-more" href="#">View more</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Slide 1 -->
			</div>
		</div>
		
		<div id="footer-shadow" class="profile-footer">
			<div id="footer">
				<div class="wrap">
					<div id="stages">
						<div class="stage" id="stage1">
							<span class="icon"></span>
							<span class="big">DESIGN BUYERS</span>
						</div>
						<div class="stage active" id="stage2">
							<span class="icon"></span>
							<span class="big">YOU</span>
						</div>
					</div>
					<div id="copyright">
						&copy;dèzquare 2012 <a href="terms.html">Terms &amp; Privacy Policy </a>
					</div>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>