	<div id="register-designer-popup" class="popup">
		<div class="popup-content">
			<div class="title">Sign-up to dezquare!</div>
			<form action="/site/register_customer" method="post">
				<div class="formfield">
					<input type="text" class="text" name="name" />
					<label class="abs">First Name</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid First Name</label>
				</div>
				<div class="formfield">
					<input type="text" class="text" name="l_name" />
					<label class="abs">Last Name</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid Last Name</label>
				</div>
				<div class="formfield">
					<input type="text" class="text" name="email" />
					<label class="abs">E-mail address</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid Email</label>
				</div>
				<div class="formfield">
					<input type="password" class="text" name="password" />
					<label class="abs">Password</label>
					<span class="vchecked"></span>
					<label class="form-error">Invalid Password</label>
				</div>
				<div class="formfield">
					<input type="password" class="text" name="re-password" />
					<label class="abs">Re-enter Password</label>
					<span class="vchecked"></span>
					<label class="form-error">Password does not match</label>
				</div>
				<div class="formfield clearfix agree">
					<span class="checkbox checked">
						<input type="checkbox" name="agree-tos" />
					</span>
					<span class="text">
						I agree to the <a href="privacy.html">Privacy Policy</a> &amp; <a href="terms.html">Terms of Service</a>.
					</span>
				</div>
				<div class="submit clearfix">
					<input type="submit" class="button-orange" value="Sign Up!" />
				</div>		
			</form>
			<div class="foot">
				Already a member? <a href="#" id="bottom-login">Login!</a>
			</div>
		</div>		
	</div>
