		<div id="content">
			<div class="page-content shopper-settings">

				<div class="center-wrap">
					<div class="center-wrap-box">
						<form action="#" class="settings-form">
							<fieldset>
								<div class="col1">
									<h4>Account Details:</h4>
									<div class="formfield">
										<input type="text" class="text" name="first-name" />
										<label class="abs">First name</label>
										<label class="form-error">Invalid First name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="last-name" />
										<label class="abs">Last name</label>
										<label class="form-error">Invalid Last name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="email" />
										<label class="abs">E-mail</label>
										<label class="form-error">Invalid Email</label>
									</div>
									<h5 class="has-circle">More Settings:</h5>
									<div class="agree clearfix">
										<span class="checkbox">
											<input type="hidden" name="suspend" />
										</span>
										<span class="text">Suspend my account</span>
									</div>
									<div class="agree clearfix">
										<span class="checkbox">
											<input type="hidden" name="delete" />
										</span>
										<span class="text">Completly delete my account</span>
									</div>
								</div>
								<div class="col2">
									<h4>Change my password:</h4>
									<div class="formfield">
										<input type="password" class="text" name="old-password" />
										<label class="abs">Enter old password</label>
										<label class="form-error">Wrong password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="new-password" />
										<label class="abs">Choose a new password</label>
										<label class="form-error">Invalid password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="repeat-new-password" />
										<label class="abs">Re-enter new password</label>
										<label class="form-error">Password don't match</label>
									</div>
								</div>
							</fieldset>
							<div class="submit clearfix">
								<input type="submit" class="button-orange" value="Submit" />
								<a href="#" class="cancel">Cancel</a>
							</div>
						</form>
					</div>
				</div>
				
			</div>			
		</div>
	