		<div id="content">
			<div class="page-content">
				
				<%=render "/designer/cover"%>
				<div id="sidebar">
					<a href="game1.html" class="orange-button">Get a new design?</a>
					<div class="title">
						<a href="shopper-latest-designs.html">Latest Designs</a>
					</div>
					<div class="latest-designs">
						<div class="design">
							<div class="col1">
								<div class="name">
									<a href="shopper-latest-designs.html">Google logo</a>
								</div>
								<div class="by">for <span>David Bowie</span></div>
								<div class="started">Started: 20 MAY</div>
								<div class="status">Status: Open</div>
							</div>
							<div class="col2">
								<a href="#" class="sidebar-mark-complete">Mark<br/>Complete!</a>
								<div class="completed hidden">
									<img src="img/bkg-checked-2.png" /><br/>
									Completed
								</div>
							</div>
						</div>
						<div class="design">
							<div class="col1">
								<div class="name">
									<a href="shopper-latest-designs.html">Google logo</a>
								</div>
								<div class="by">for <span>David Bowie</span></div>
								<div class="started">Started: 20 MAY</div>
								<div class="status">Status: Open</div>
							</div>
							<div class="col2">
								<a href="#" class="sidebar-mark-complete">Mark<br/>Complete!</a>
								<div class="completed hidden">
									<img src="img/bkg-checked-2.png" /><br/>
									Completed
								</div>
							</div>
						</div>
						<div class="design last">
							<div class="col1">
								<div class="name">
									<a href="shopper-latest-designs.html">Google logo</a>
								</div>
								<div class="by">for <span>David Bowie</span></div>
								<div class="started">Started: 20 MAY</div>
								<div class="status">Status: Open</div>
							</div>
							<div class="col2">
								<div class="completed">
									<img src="img/bkg-checked-2.png" /><br/>
									Completed
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="main">
					<div class="white-band-title">
						<h3>You've Got Matched!</h3>
					</div>
					<div id="match-projects" class="white-box">
					
						<div class="project">
							<div class="basic">
								<div class="icon">
									<img src="img/icons/business-cards.png" />
								</div>
								<div class="name-and-client">
									<div class="name single">Design Project Title</div>
								</div>
								<div class="action wider">
									<a href="#" class="black-button esmall-font cancel-design">Cancel Design</a>
									<a href="#" class="pending">Pending Kickoff</a>
								</div>
							</div>
							<div class="detailed">
								<div class="col1">
									<div class="title">About the desired Flyer</div>
									<div class="about-project">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur magna ipsum, congue eget tincidunt nec, ultricies sed ligula. Fusce accumsan ante et erat rhoncus ultrices. Morbi posuere adipiscing cursus. Integer sit amet quam ac urna rhoncus feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lobortis sodales lobortis. Aenean iaculis feugiat tortor et imperdiet. Sed convallis eros vel ante aliquam vitae pulvinar arcu ullamcorper. Sed ac eros nec enim ultrices dapibus. Aenean quis lorem sapien, vitae mollis magna. Nulla viverra tortor quis lectus vestibulum id convallis enim interdum.
									</div>
								</div>
								<div class="col2">
									<div class="title">Top Matches</div>
									<div class="top-matches">
										<div class="match">
											<div class="profile-image">
												<img src="img/temp/profile-match.jpg" alt="Profile Image" />
											</div>
											<div class="details">
												<div class="big">
													<a href="profile-public.html">Axl Rose, Israel</a>
												</div>
												<div class="small">Languages: <span>Hebrew</span></div>
												<div class="small">Passion: <span>Branding, Illustration, Print</span></div>
											</div>
											<div class="status">Pending</div>
										</div>
										<div class="match">
											<div class="profile-image">
												<img src="img/temp/profile-match.jpg" alt="Profile Image" />
											</div>
											<div class="details">
												<div class="big">
													<a href="profile-public.html">Axl Rose, Israel</a>
												</div>
												<div class="small">Languages: <span>Hebrew</span></div>
												<div class="small">Passion: <span>Branding, Illustration, Print</span></div>
											</div>
											<div class="status">Pending</div>
										</div>
										<div class="match">
											<div class="profile-image">
												<img src="img/temp/profile-match.jpg" alt="Profile Image" />
											</div>
											<div class="details">
												<div class="big">
													<a href="profile-public.html">Axl Rose, Israel</a>
												</div>
												<div class="small">Languages: <span>Hebrew</span></div>
												<div class="small">Passion: <span>Branding, Illustration, Print</span></div>
											</div>
											<div class="status">Pending</div>
										</div>
									</div>
								</div>
							</div>
							<div class="last-row">
								<div class="col1">
									<div class="payment">Cost: $100</div>
								</div>
								<div class="col2">
									<div class="date">21:07, 27 MAY 2012</div>
								</div>
							</div>
						</div>
						
						<div class="project">
							<div class="basic">
								<div class="icon">
									<img src="img/icons/business-cards.png" />
								</div>
								<div class="name-and-client">
									<div class="name single">Design Project Title</div>
								</div>
								<div class="action wider">
									<a href="#" class="black-button esmall-font cancel-design">Cancel Design</a>
									<a href="#" class="pending">Pending Kickoff</a>
								</div>
							</div>
							<div class="detailed">
								<div class="col1">
									<div class="title">About the desired Flyer</div>
									<div class="about-project">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur magna ipsum, congue eget tincidunt nec, ultricies sed ligula. Fusce accumsan ante et erat rhoncus ultrices. Morbi posuere adipiscing cursus. Integer sit amet quam ac urna rhoncus feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lobortis sodales lobortis. Aenean iaculis feugiat tortor et imperdiet. Sed convallis eros vel ante aliquam vitae pulvinar arcu ullamcorper. Sed ac eros nec enim ultrices dapibus. Aenean quis lorem sapien, vitae mollis magna. Nulla viverra tortor quis lectus vestibulum id convallis enim interdum.
									</div>
								</div>
								<div class="col2">
									<div class="title">Top Matches</div>
									<div class="top-matches">
										<div class="match">
											<div class="profile-image">
												<img src="img/temp/profile-match.jpg" alt="Profile Image" />
											</div>
											<div class="details">
												<div class="big">
													<a href="profile-public.html">Axl Rose, Israel</a>
												</div>
												<div class="small">Languages: <span>Hebrew</span></div>
												<div class="small">Passion: <span>Branding, Illustration, Print</span></div>
											</div>
											<div class="status">Pending</div>
										</div>
										<div class="match">
											<div class="profile-image">
												<img src="img/temp/profile-match.jpg" alt="Profile Image" />
											</div>
											<div class="details">
												<div class="big">
													<a href="profile-public.html">Axl Rose, Israel</a>
												</div>
												<div class="small">Languages: <span>Hebrew</span></div>
												<div class="small">Passion: <span>Branding, Illustration, Print</span></div>
											</div>
											<div class="status">Pending</div>
										</div>
										<div class="match">
											<div class="profile-image">
												<img src="img/temp/profile-match.jpg" alt="Profile Image" />
											</div>
											<div class="details">
												<div class="big">
													<a href="profile-public.html">Axl Rose, Israel</a>
												</div>
												<div class="small">Languages: <span>Hebrew</span></div>
												<div class="small">Passion: <span>Branding, Illustration, Print</span></div>
											</div>
											<div class="status">Pending</div>
										</div>
									</div>
								</div>
							</div>
							<div class="last-row">
								<div class="col1">
									<div class="payment">Cost: $100</div>
								</div>
								<div class="col2">
									<div class="date">21:07, 27 MAY 2012</div>
								</div>
							</div>
						</div>
						
						<div class="project last">
							<div class="basic">
								<div class="icon">
									<img src="img/icons/business-cards.png" />
								</div>
								<div class="name-and-client">
									<div class="name single">Design Project Title</div>
								</div>
								<div class="action widest">
									<a href="#" class="black-button esmall-font send-tod">Send to Designer</a>
									<a href="game2.html" class="replay">Replay</a>
								</div>
							</div>
							<div class="detailed">
								<div class="col1">
									<div class="taste-indicators">
										<div class="title">Your Taste Indicators</div>
										<ul>
											<li>* Colorful (Color Palette)</li>
											<li>* Urban (Style)</li>
											<li>* Realistic (Image)</li>
											<li>* Minimalistic</li>
											<li>* Geometric Shapes</li>
										</ul>
									</div>
								</div>
								<div class="col2">
									<div class="title">Designs You Liked</div>
									<div class="designs">
										<div class="design">
											<img src="img/temp/project-photo.jpg" />
										</div>
										<div class="design">
											<img src="img/temp/project-photo.jpg" />
										</div>
										<div class="design last">
											<img src="img/temp/project-photo.jpg" />
										</div>
									</div>
								</div>
							</div>
							<div class="last-row">
								<div class="col2">
									<div class="date">21:07, 27 MAY 2012</div>
								</div>
							</div>
						</div>
						
						<a href="#" id="dashboard-load-more" class="black-button small-font load-more">
							<span>Show me more</span>
						</a>
					</div>
				</div>
			</div>			
		</div>
	