	<section id="landing" class="losterror">
		<div id="dark"></div>	
			<!-- <img src="/newver/img/background-image.jpg" class="default" /> -->
			
			<section class="find-designer" style="margin-top:-270px;">
				
				<div class="dbl-lines first-line">
					<span class="middle-text">
						<span class="left">
							<span class="line-1"></span>
							<span class="line-2"></span>
						</span>
						Oh No!
						<span class="right">
							<span class="line-1"></span>
							<span class="line-2"></span>
						</span>
					</span>
				</div>
				
				<div class="positionfour">404</div>
				
				<div class="dbl-lines">
					<span class="middle-text">
						<span class="left">
							<span class="line-1"></span>
							<span class="line-2"></span>
						</span>
						Page
						<span class="right">
							<span class="line-1"></span>
							<span class="line-2"></span>
						</span>
					</span>
				</div>
				
				<div class="explained">It seems like you found one<br>of our secret spots</div>
				
				<a href="/designer/profile/TmYFTrMwWEpeWfbURwTH" class="button2 red">Enter the alley</a>
				
			</section>
		
	</section>
		
	