<html>
<title>Dezquare</title>
<body>
	<BR /><BR /><BR /><BR />
	<center>
	<table>
		<tr><td>
			<h1 style="font-size: 36px; vertical-align: center;"><center>WE APOLOGIZE...</center> </h1>
		</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>
			<h2>Dezquare is under maintenance.</h2>
		</td></tr>
		<tr><td>
			<h2>Please come and visit us in a few minutes!</h2>
		</td></tr>
	</table>	
	</center>
</body>

</html>