<!-- <div id="footer">
		<div class="page-content">
			<div id="copyright">&copy;dèzquare 2012</div>
			<div id="footer-links">
				<a href="/site/about">About</a>
				<span>|</span>
				<a href="/site/contact">Contact</a>
				<span>|</span>
				<a href="/site/privacy">Privacy Policy</a>
				<span>|</span>
				<a href="/site/terms">Terms of Use</a>
			</div>
		</div>
</div> -->
<footer id="footer" class="clearfix">
			<div class="copyright">&copy;dezquare 2012-2013</div>
			<nav class="links">
				<a href="/site/about">About</a>
				<span>|</span>
				<a href="/site/contact">Contact</a>
				<span>|</span>
				<a href="/site/privacy">Privacy Policy</a>
				<span>|</span>
				<a href="/site/terms">Terms of Use</a>
				<span>|</span>
				<a href="http://blog.dezquare.com" target="_blank">Blog</a>
				<span>|</span>
				<a href="http://www.facebook.com/dezquare" target="_blank">Facebook</a>
				<span>|</span>
				<a href="http://www.twitter.com/dezquare" target="_blank">Twitter</a>
			</nav>
</footer>