<div id="footer">
		<div class="page-content">
			<div id="copyright">&copy;dèzquare 2012</div>
			<div id="footer-links">
				<a href="/site/about">About</a>
				<span>|</span>
				<a href="/site/contact">Contact</a>
				<span>|</span>
				<a href="/site/privacy">Privacy Policy</a>
				<span>|</span>
				<a href="/site/terms">Terms of Use</a>
			</div>
		</div>
</div>