		<header id="header" class="clearfix lighter">
			<h1 id="logo">
				<a href="/home/index">
					<img src="/newver/img/logo.png" alt="Dezquare" width="172" height="42" />
				</a>
			</h1>
			<div class="square"></div>
			
			<div class="links">
				<a href="/home/how-it-works" class="small-link">How does it work?</a>
				<a href="/designer_signup" class="btn btn-1">Are you a designer?</a>
				<a href="/login" class="btn btn-2">Login</a>
			</div>
		</header>