<!DOCTYPE html>
<html>
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" > 
	<link href="/css/jScrollPane.css" media="screen" rel="stylesheet" type="text/css" > 
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery.uploadify-3.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/js/jquery.em.js"></script>
	<script type="text/javascript" src="/js/jScrollPane.js"></script>
	<script type="text/javascript" src="/js/main.js"></script></head>
<body>
	<div id="page">
		<div id="header">
			<div class="page-content clearfix">
				<h1 id="logo">
					<a href="/designer/dashboard">
						<img src="/img/logo.png" alt="Dezquare" />
					</a>
				</h1>
				<%=render "user_options"%>
			</div>
		</div>
		<%= yield %>
	</div>
	
	
	
	
	<div id="footer">
		<div class="page-content">
			<div id="copyright">&copy;dèzquare 2012</div>
			<div id="footer-links">
				<a href="/site/about">About</a>
				<span>|</span>
				<a href="#">Privacy Policy</a>
				<span>|</span>
				<a href="#">Terms of Use</a>
			</div>
		</div>
	</div>
</body>
</html>